@font-face {
  font-family: "pengineering";
  src: url('fonts/pengineering.woff') format('woff'),
  url('fonts/pengineering.ttf') format('truetype');
}

[class*="pe_"] {
	font-family: "pengineering";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.pe_speed-0:before {content: "\EA01";}
.pe_speed-100:before {content: "\EA02";}
.pe_speed-25:before {content: "\EA03";}
.pe_speed-50:before {content: "\EA04";}
.pe_speed-75:before {content: "\EA05";}
.pe_tank-empty:before {content: "\EA06";}
.pe_tank-full:before {content: "\EA07";}
.pe_temp-0:before {content: "\EA08";}
.pe_temp-100:before {content: "\EA09";}
.pe_temp-25:before {content: "\EA0A";}
.pe_temp-75:before {content: "\EA0C";}
.pe_temp-50:before {content: "\EA0B";}
.pe_wave-large:before {content: "\EA0D";}
.pe_wave-medium:before {content: "\EA0E";}
.pe_wave-small:before {content: "\EA0F";}


