/* ============================================================================
ANIMATIONS
==============================================================================*/

//FRAMES-SHOW
@keyframes frames-show {
  0% {opacity: 0}
  50% {opacity: 0}
  100% {opacity: 1}
}

@keyframes bg-reveal {
  0% {background-color: rgba(0,0,0,0);}
  50% {background-color: rgba(0,0,0,0);}
  100% {background-color: @color-modal-overlay;}

}



.reveal {
  animation: frames-show .3s linear;
  opacity: 1;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.pulsing {
  animation: pulse 1s infinite;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes pop-up {

  0% {transform: scale3d(.2, .2, .2);}
  50% {transform: scale3d(1.1, 1.1, 1);}
  80% {transform: scale3d(.95, .95, 1);}
  100% {transform: scale3d(1, 1, 0);}
}

@keyframes slide {
  0% {transform: translate3d(-100vw, 0, 0);}
  100% {transform: translate3d(0, 0, 0);}
}

