/* =====================================================================================================================
  IMPORTS
======================================================================================================================*/
@import "theme";
@import "utils/reset";
@import "utils/helpers";
@import (less) "vt-icon-font.css";
@import "typography/fonts";
@import "typography/text";
@import "layout/header";
@import "layout/footer";
@import "layout/page-cols";
@import "layout/page-splash";
@import "layout/page-full";
@import "layout/page-explorer";
@import "layout/tables";

@import "elements/inputs/buttons-basic";
@import "elements/inputs/dropdown";
@import "elements/inputs/num-stepper";
@import "elements/inputs/select";
@import "elements/inputs/slider";
@import "elements/inputs/switch";
@import "elements/nav-main";
@import "elements/video-controls";

@import "media/media";
@import "media/carousel";
@import "media/cards";
@import "media/accordion";
@import "media/timeline";
@import "media/hotspots";

@import "modals/modal";
@import "modals/modal-glossary";
@import "animations";


@import "quiz/question";
@import "quiz/testResult";


/* =====================================================================================================================
  GLOBAL VARS
======================================================================================================================*/

@gutter-width: 4rem;
@gutter-half-width: 2rem;

@button-border-radius: 4px;

/* =====================================================================================================================
  MAIN
======================================================================================================================*/


* {
  box-sizing: border-box;
}

body, html, #container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

body {
  color: @color-element;
}

.page {
  height: ~"calc(100vh - 4rem)";
  width: 100vw;
  position: absolute;
  overflow-y: auto;
  color: @color-element;
  background-color: @color-block;
  padding-bottom: .5rem;

  /* GRID */
  //background-size: 1em 1em;
  //background-image: linear-gradient(to right, rgba(128, 128, 128, 0.2) 1px, transparent 1px),
  //linear-gradient(to bottom, rgba(128, 128, 128, 0.2) 1px, transparent 1px);

}

.hgroup {

  margin: 1rem 0 2rem 0;
  //background-color: rgba(188, 6, 10, 0.2);

  [class*="vti_"] {
    font-size: 1.5rem;
    margin-right: .5rem;
    vertical-align: middle;
  }

  .hgroup_icon {
    color: @color-element-highlight;
  }

  p {
    margin: 1rem 0 0 0;
  }

}



/* =====================================================================================================================
  MEDIA QUERIES
======================================================================================================================*/


@mob-small: ~"only screen and (max-width:320px)"; // iPhone 5
@mob-medium: ~"only screen and (max-width:420px)"; // iPhone 6, 6+, nexus 6
@tabl-small: ~"only screen and (max-width:600px)"; // nexus 7
@tabl-medium: ~"only screen and (max-width:760px)"; // iPad
@desktop-small: ~"only screen and (min-width:800px)"; // small desktop
@desktop-medium: ~"only screen and (min-width:1200px)"; // medium desktop
@desktop-larger: ~"only screen and (min-width:1600px)"; // larger desktop
@desktop-large: ~"only screen and (min-width:1900px)"; // large desktop


@media screen and (orientation: landscape) {

  .hgroup {
    padding: 0 @gutter-width;
  }

  header, footer, .page-in {
    padding: 0 @gutter-width;
  }

}

@media screen and (orientation: portrait) {

  html {
    font-size: 1.25em;
  }

  header, footer, .page {
    padding: 0 .5rem;
  }

  .hgroup {
    margin-top: 1em;
    margin-bottom: 0;
  }

  .page {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 4em;
    height: ~"calc(100vh - 2rem)";
  }

}

@media @desktop-medium {
  html {
    font-size: 18px;
  }
}

@media @desktop-larger {
  html {
    font-size: 22px;
  }
}

@media @desktop-large {
  html {
    font-size: 24px;
  }
}



/*

.imageContainer {
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    float: left;
    height: 0;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
 */








