@font-face {
  font-family: "VTIcons";
  src: url('../css/fonts/VTIcons.woff') format('woff'),
  url('../css/fonts/VTIcons.ttf') format('truetype');
}

[class*="vti_"] {
	font-family: "VTIcons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

.vti_001:before {content: "\EA01";}
.vti_002:before {content: "\EA02";}
.vti_003:before {content: "\EA03";}
.vti_004:before {content: "\EA04";}
.vti_005:before {content: "\EA05";}
.vti_008:before {content: "\EA08";}
.vti_006:before {content: "\EA06";}
.vti_007:before {content: "\EA07";}
.vti_009:before {content: "\EA09";}
.vti_010:before {content: "\EA0A";}
.vti_012:before {content: "\EA0C";}
.vti_13:before {content: "\EA0F";}
.vti_011:before {content: "\EA0B";}
.vti_14:before {content: "\EA10";}
.vti_11:before {content: "\EA0D";}
.vti_15:before {content: "\EA11";}
.vti_12:before {content: "\EA0E";}
.vti_16:before {content: "\EA12";}
.vti_18:before {content: "\EA14";}
.vti_17:before {content: "\EA13";}
.vti_20:before {content: "\EA16";}
.vti_3d:before {content: "\EA17";}
.vti_19:before {content: "\EA15";}
.vti_arrow-left:before {content: "\EA18";}
.vti_arrow-right:before {content: "\EA19";}
.vti_arrow-thin-left:before {content: "\EA1A";}
.vti_arrow-thin-right:before {content: "\EA1B";}
.vti_badge:before {content: "\EA1C";}
.vti_bulb:before {content: "\EA1E";}
.vti_camera:before {content: "\EA1F";}
.vti_check:before {content: "\EA21";}
.vti_checkbox-on:before {content: "\EA23";}
.vti_cc:before {content: "\EA20";}
.vti_blank:before {content: "\EA1D";}
.vti_chevron-down:before {content: "\EA24";}
.vti_checkbox-off:before {content: "\EA22";}
.vti_chevron-right:before {content: "\EA26";}
.vti_chevron-left:before {content: "\EA25";}
.vti_chevron-up:before {content: "\EA27";}
.vti_circle-filled:before {content: "\EA28";}
.vti_clockwise:before {content: "\EA29";}
.vti_close-circle:before {content: "\EA2A";}
.vti_close:before {content: "\EA2B";}
.vti_correct:before {content: "\EA2C";}
.vti_decrease:before {content: "\EA2E";}
.vti_counter-clockwise:before {content: "\EA2D";}
.vti_doc-pdf:before {content: "\EA2F";}
.vti_exit:before {content: "\EA30";}
.vti_eye:before {content: "\EA32";}
.vti_feedback:before {content: "\EA33";}
.vti_expand:before {content: "\EA31";}
.vti_film:before {content: "\EA35";}
.vti_film-reel:before {content: "\EA34";}
.vti_finger-up:before {content: "\EA36";}
.vti_flip:before {content: "\EA37";}
.vti_fullscreen:before {content: "\EA38";}
.vti_glossary:before {content: "\EA39";}
.vti_hamburger:before {content: "\EA3A";}
.vti_help:before {content: "\EA3B";}
.vti_home:before {content: "\EA3C";}
.vti_incorrect:before {content: "\EA3D";}
.vti_increase:before {content: "\EA3E";}
.vti_info:before {content: "\EA3F";}
.vti_link-external:before {content: "\EA40";}
.vti_link-internal:before {content: "\EA41";}
.vti_link-popup:before {content: "\EA42";}
.vti_list:before {content: "\EA43";}
.vti_minus:before {content: "\EA44";}
.vti_move-left:before {content: "\EA45";}
.vti_move-right:before {content: "\EA46";}
.vti_page:before {content: "\EA47";}
.vti_pin:before {content: "\EA49";}
.vti_pause:before {content: "\EA48";}
.vti_play-back:before {content: "\EA4A";}
.vti_play-step-ff:before {content: "\EA4C";}
.vti_play-step-back:before {content: "\EA4B";}
.vti_play:before {content: "\EA4D";}
.vti_plus:before {content: "\EA4E";}
.vti_print:before {content: "\EA50";}
.vti_power:before {content: "\EA4F";}
.vti_question:before {content: "\EA52";}
.vti_qr:before {content: "\EA51";}
.vti_radio-off:before {content: "\EA53";}
.vti_radio-on:before {content: "\EA54";}
.vti_redo:before {content: "\EA55";}
.vti_save:before {content: "\EA57";}
.vti_refresh:before {content: "\EA56";}
.vti_search:before {content: "\EA58";}
.vti_settings:before {content: "\EA59";}
.vti_slr:before {content: "\EA5A";}
.vti_sound-off:before {content: "\EA5B";}
.vti_sound-on:before {content: "\EA5C";}
.vti_star:before {content: "\EA5D";}
.vti_stop:before {content: "\EA5E";}
.vti_test:before {content: "\EA5F";}
.vti_tutorial:before {content: "\EA60";}
.vti_vr:before {content: "\EA61";}
.vti_warning:before {content: "\EA62";}
.vti_zoom-in:before {content: "\EA63";}
.vti_zoom-out:before {content: "\EA64";}


