.question {


  h3 {
    font-size: 1.1em;
    font-weight: @font-weight-normal;
    letter-spacing: .02em;
    line-height: 1.2em;
    text-transform: none;
    color: @color-element-highlight;
  }

  .btn-inline-icon {
    margin-right: .5rem;
    font-size: 1.5rem;
  }

  select {
    max-width: 30vw;
  }


}

.subtitle {
  font-style: italic;
  margin: 0;
}

.question_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: fade(@color-element, 10%);
  margin-bottom: 5px;

}

.correct {
  color: #2da027;
}

.incorrect {
  color: #ff0000;
}



.disabled--opaque {
  pointer-events: none;
}

.question_row--multi {
  padding-left: .5em;
  justify-content: space-between;
  line-height: 1.2;

  > div:nth-child(1) {
    width: 50%;
  }

}

.question_options {
  display: flex;
}

.question_row--single {
  > label {
    width: 100%;
  }
}

.order-list {
  display: table;
  width: 100%;
}

.order-list_item {
  display: table-row;
  position: relative;

  &:hover {
    background-color: fade(@color-element-highlight, 20%);
  }

  > span {
    display: table-cell;
    vertical-align: middle;
    padding: 4px 10px;
    background-color: fade(@color-element, 10%);
    border-bottom: 4px solid @color-block;

    &:nth-child(2) {
      text-align: right;
    }

    button {
      margin: 0;
    }

  }

  > span:nth-child(1) {
    padding-right: 20px;
  }

}

.btn-correct-answer {
  margin-left: 1em;
  padding: .5em;
}

.btn-correct-answer--on {
  background-color: @color-element-highlight;
  color: fade(@color-block, 60%);
}

@media screen and (orientation: portrait) {



  .question_row--multi {
    > div:nth-child(1) {
      width: 100%;
    }
  }

  .show-answer-btn {
    margin-left: 0;
    display: block;
  }

  .order-list_item {


    > span {

      button:nth-child(1) {
        margin-bottom: 5px;
      }

    }

    > span:nth-child(1) {
      padding-right: 20px;
    }

  }


}













