.test-result {

  padding: 10px;
  background-color: fade(@color-element-highlight, 20%);
  margin-bottom: 1.5em;

  > div {
    display: table-row;

    > span {
      display: table-cell;
    }

    > span:nth-child(1) {
      font-weight: 700;
      padding-right: 2em;
    }

  }

}


.page-test-result button {
  margin-right: 2px;
}

@media print {

  button { display: none; }
  header { display: none; }
  footer { display: none; }

}