
.modal_bg, .info-modal_bg {
  z-index: 202;
  position: fixed;
  width: 100vw;
  height: 100vh;
  perspective: 1400px;
  top: 0;
}

.modal_bg {
  background-color: @color-modal-overlay;
  animation: bg-reveal .8s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-modal {
  background-color: @color-block;
  border-bottom: 4px solid @color-modal-header-bg;
  padding: 2rem 3rem;
  animation: slide-down .4s;
}

.info-modal_body {
  display: flex;
  flex-direction: row;

  [class="vti_bulb"] {
    font-size: 4em;
    line-height: 1;
    color: @color-modal-header-bg;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }

}

.modal {

  animation: slide .4s;
  border-radius: 5px;
  border: 1px solid @color-border-primary;
  box-shadow: 2px 2px 20px fade(#000000, 50%);
  overflow: hidden;
  background-color: @color-modal-bg;

  max-height: 100vh;
  max-width: 100vw;

  display: flex;
  flex-direction: column;

  h3 {
    font-size: 1.8rem;
    text-transform: none;
    line-height: 1em;
    margin-bottom: 1rem;
  }

  h4, h5 {
    margin-bottom: 1em;
  }

  h4 {
    font-size: 1.4em;
  }

}

.modal_controls {
  position: absolute;
  top: 0;
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 201;
  cursor: default;
  color: #e2e2e2;
  font-weight: 300;
  font-size: 1rem;
  padding-right: .5rem;
  padding-top: .2rem;

  > button, a {
    color: #e2e2e2;
    padding: .2rem;
    margin-right: .5em;
  }

  > a {
    padding: 0;
    margin-top: -.2rem;
  }

}


.modal_header {
  background-color: @color-modal-header-bg;
  color: @color-modal-header-text;
  padding: 0 1rem;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  button {
    color: #ffffff;
    //text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.61);
    text-shadow: 1px 1px 3px darken(@color-modal-header-bg, 15%);
    font-size: 1.5rem;
    //border: 1px solid @color-element;
    &:hover {
      color: #f7f7f7;
    }
  }

  [class="vti_close"] {
    padding-left: 1rem;
    padding-top: .2rem;
  }
}

.modal_header.error {
  background-color: #ff0000;
}

.modal_body {

  padding: 1rem;
  overflow-y: auto;
  line-height: 1em;

  > .text {
    margin-bottom: 1rem;
  }

  video {
    display: block;
  }

  .media img {
    width: 100%;
    display: block;
  }

  .login-field {
    display: flex;

    > span, input {
      width: 50%;
      margin-bottom: .5rem;
    }

  }

}

/* ---------------------------------------------------------------------
 FULL SCREEN
 ----------------------------------------------------------------------*/
.modal_full-screen {
  min-width: 100vw;
  min-height: 100vh;
  border-radius: 0;

  .div-3d, canvas {
    height: 100vh;
    background-color: #3a3a3a;
  }


}

.modal_full-screen--title {
  left: 1rem;
  top: .4rem;
  position: absolute;
}

.modal_full-screen--body {
  top: 2rem;
  position: absolute;
  width: 100vw;
  padding: 1rem;
  height: ~"calc(100vh - 2rem)";
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* ---------------------------------------------------------------------
 FULL SCREEN PDF
 ----------------------------------------------------------------------*/

.modal_full-screen.pdf {
  overflow: auto;

  input {
    margin: .1rem .4rem;
    outline: none;
    float: left;
    width: 2rem;
    //border-radius: 4px;
    border: none;
    font-size: .8rem;
    padding: .1rem;
  }

  .modal_control {
    margin-right: .9em;
  }

  .pageCounter {
    display: none;
  }



}

/* ---------------------------------------------------------------------
 HELP
 ----------------------------------------------------------------------*/
.help {
  display: table;
  border-collapse: collapse;

  h4 {
    margin: .5em 0;
  }

  .row {
    display: table-row;
    > span {
      display: table-cell;
      padding: .4em;
      vertical-align: middle;
      border: 1px solid @color-border-secondary;
    }

    > span:nth-child(1) {
      text-align: center;
    }
  }

  .row-support {
    display: table-row;
    > span {
      display: table-cell;
      padding: .1em 0;
      vertical-align: middle;

      &:first-child {
        padding-right: 1em;
      }
    }
  }

}

/* ---------------------------------------------------------------------
 ABOUT
 ----------------------------------------------------------------------*/
.about {

  //font-size: .8em;

  h5 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: .5rem;
    color: @color-element;
  }

  .logos {
    margin-bottom: 1em;
    text-align: center;
  }

  .logo, img {
    max-height: 50px;
    max-width: 200px;
    margin-right: 10px;
    padding: 5px;
    //background-color: #ffffff;
  }
}

/* ---------------------------------------------------------------------
 CHARACTER
 ----------------------------------------------------------------------*/

.character-in {
  display: flex;
  background-color: @color-modal-bg;
}

.modal_character {
  overflow: visible;
  //max-width: 96vw;
  .character {
    left: -10px;
    bottom: -1px;
    margin-right: 10px;
    position: relative;
    max-width: 20vw;
    align-self: flex-end;
  }

}

/* ---------------------------------------------------------------------
 FLIP
 ----------------------------------------------------------------------*/

.modal_flip-back, .modal_flip-front {

  .modal_body {
    max-height: 85vh;
  }

}

.modal_flip-back {
  transform: rotateY(-180deg);
  display: none;
}

/* ---------------------------------------------------------------------
IMAGE/HOTSPOT EXPLORER
 ----------------------------------------------------------------------*/

.media-explorer {

  width: 100vw;
  height: 100vh;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;

  > .draggable {
    width: 100vw;
    height: 100vh;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .description {
    top: .4rem;
    position: fixed;
    width: 100%;
    text-align: center;
    color: #f8f8f8;
    opacity: 0;
    z-index: 202;
    font-size: 1rem;
    transition: opacity .5s;
    pointer-events: none;
    font-weight: 300;

    &.selected {
      opacity: 1;
      transition: opacity .5s;
    }

  }

}

.media-holder {

  min-width: 100%;
  max-width: 100%;

  img {
    width: 100%;
    pointer-events: none;
  }

  .hspot.circle.label {
    width: 1.6rem;
    height: 1.6rem;
    border: 2px solid #ffffff;
    text-align: center;
    line-height: ~"calc(1.6rem - 2px)";
    font-size: 1rem;

  }

  .hspot.circle.label.pin {
    font-size: .8rem;
  }

}

/* ---------------------------------------------------------------------
 MEDIA QUERIES
 ----------------------------------------------------------------------*/

@media screen and (orientation: landscape) {

  .modal {
    max-width: 50vw;

    .modal_body > img {
      float: left;
      position: relative;
      margin-right: 1em;
      max-width: 200px;
    }

  }

  .info-modal_bg {
    height: ~" calc(100vh - 2rem) ";
  }

}


@media screen and (orientation: portrait) {

  .modal_body {
    padding-bottom: 4rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    > img {
      width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }

  }

  .info-modal {
    padding: 1rem .5rem;
    animation: slide-down .4s;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 100vh;
  }

  .info-modal_body {
    flex-wrap: wrap;
    padding-bottom: 4rem;
    [class=" vti_bulb "] {
      font-size: 4em;
    }

    p {
      margin-bottom: 1rem;
    }

  }

}

@media only screen and (max-width:800px) {

  .media-explorer > .description {
    top: 2.5rem;
    font-size: .8rem;
    line-height: .9rem;
    left: 0;
    right: 0;
    padding: .2rem;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background: #0c7abf;
    margin: 0 auto;
    width: 80vw;
    font-weight: 400;
  }

  .modal_full-screen--title, .modal_control.page-nums input {
    display: none;
  }

  .modal_full-screen--body {
    padding-bottom: 4rem;
  }

  .modal_controls {
    padding-right: 0;
  }

  .modal_full-screen.pdf {

    > .modal_controls {
      padding-right: 0;
      justify-content: center;
      padding-top: .1rem;
    }

    .pageCounter {
      display: inline-block;
    }

  }

}



