.glossary {
  display: table;
  border-collapse: collapse;
  font-size: .9em;

  > .row {
    display: table-row;
    border: 1px solid @color-border-secondary;

    //&:nth-child(odd) {
    //  background-color: fade(@color-element-highlight, 3%);
    //}

  }

  span {
    display: table-cell;
    padding: 8px;
    vertical-align: middle;

    &:nth-child(1) {
      width: 20%;
      font-weight: @font-weight-bolder;
      padding-right: 1em;
    }

  }

}


.links {

  a {
    text-decoration: none;
  }

  > div {
    margin: .5em 0;
    border-bottom: 1px dotted @color-border-primary;
    padding: .5em 0;

    > span:nth-child(1) {
      margin-right: .5em;
      float: left;
    }
  }
}