.el-spacing() {

  span + [class*="vti"] {
    margin-left: .5rem;
  }

  [class*="vti"] + span {
    margin-left: .5rem;
  }

}

a {
  color: @color-element-highlight;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: @color-btn-link_bg--hover;
  }

  > img, > image {
    pointer-events: none;
  }

}

button {
  .el-spacing();
  > span {
    pointer-events: none;
  }
}

button, .btn-toggle {
  border-radius: @button-border-radius;
  font-weight: 400;
  text-transform: uppercase;
  user-select: none;
  color: @color-element;
  margin: 0 .2em .2em 0;

  [class*="vti"] {
    font-size: 1.25em;
    vertical-align: -0.22em;
    //vertical-align: middle;
  }


}


// PRIMARY -------------------------------------------

.btn-primary {
  padding:  1em 2em;
  border: 2px solid @color-btn-primary_text;
  color: @color-btn-primary_text;
  //border: 1px solid @color-element-highlight;
  //color: @color-element-highlight;
  //box-shadow: inset 0 0 1px 1px @color-block;
  background: @color-btn-primary_bg;
  //font-weight: 300;
  letter-spacing: .1em;
  transition: background .5s, color .5s;



  &:hover {
    background: @color-btn-primary_bg--rollover;
    color: @color-btn-primary_text--rollover;
    box-shadow: inset 0 0 5px 2px fade(@color-btn-primary_text, 30%);
  }
}



// SECONDARY ----------------------------------------

.btn-secondary, .btn-inline-icon {
  padding: .307em .433em;
  //padding: .585em .71em;
  background: @color-btn-secondary_bg;
  color: @color-btn-secondary_text;
  border: 2px solid @color-btn-secondary_text;
  transition: .5s background, color .5s;


  &:hover {
    background: @color-btn-secondary_bg--rollover;
    color: @color-btn-secondary_text--rollover;
    //box-shadow: inset 0 0 5px 2px fade(@color-btn-secondary_text, 30%);
  }


}


// Tertiary -------------------------------------------
.btn-tertiary {
  //background-color: @color-btn-flat_bg;
  padding: .3em;
  border: 2px solid @color-btn-tertiary_text;
  color: @color-btn-tertiary_text;
  line-height: 1.2;
  transition: .5s background, .5s color;

  &:hover {
    color: @color-btn-tertiary_text--rollover;
    background: @color-btn-tertiary_bg--rollover;
  }

}

.btn-tertiary.overlay {
  text-shadow: 1px 1px 3px rgba(99, 99, 99, 0.50);
  box-shadow: 1px 1px 3px rgba(99, 99, 99, 0.50);
  background: rgba(99, 99, 99, 0.7);
}

.btn-inline-icon {
  vertical-align: middle;
  border-radius: 50%;
  border: none;
  padding: .3rem;
  cursor: pointer;
}


// TOGGLE -------------------------------------------

.btn-toggle {
  text-align: center;
  border: none;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;



  .toggle-off, .toggle-on {
    border-radius: @button-border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    .el-spacing();
    > span {
      pointer-events: none;
    }

  }

  > input,
  > .toggle-on {
    display: none;
  }

  > input:checked ~ .toggle-on {
    display: flex;
  }

  > input:checked ~ .toggle-off {
    display: none;
  }

}

.btn-icon {
  line-height: 1.5;
}



@media screen and (orientation: portrait) {
  .btn-primary {
    padding:  .6em 1em;
  }
}







