select {
  font-size: 1.2em;
  margin: .2em;
  border-radius: 4px;
  outline: 0;
  border: 1px solid @color-element-highlight;
  color: @color-element;
  background-color: fade(@color-block, 50%);
}

.select--correct {
  background-color: rgba(45, 160, 39, 0.8);
  color: #fff;
}

.select--incorrect {
  background-color: rgba(239, 16, 4, 0.8);
  color: #fff;
}