.num-stepper {

  display: flex;
  justify-content: center;
  line-height: 1em;
  padding: 0;

  > span:nth-child(1), > span:nth-child(3) {
    //background: @color-btn-primary_bg;
    border: 2px solid @color-btn-primary_text;
    color: @color-btn-primary_text;
    padding: 5px;
    cursor: pointer;
    font-size: .9em;
  }

  > span:nth-child(1) {
    border-radius: 4px 0 0 4px;
  }

  > span:nth-child(3) {
    border-radius: 0 4px 4px 0;
  }

  > input {
    width: 4em;
    border-top: 2px solid @color-btn-primary_text;
    border-bottom: 2px solid @color-btn-primary_text;
    border-left: none;
    border-right: none;
    font-size: 1em;
    text-align: center;
    outline: none;
    margin: 0;
    border-radius: 0;
  }


}

@media @tabl-small {
  .num-stepper {
    font-size: 1.2em;
  }

  .num-stepper input {
    width: 5rem;
    pointer-events: none;
  }
}

