
.input_select {
  cursor: pointer;

  > input,
  .selector--on {
    display: none;
  }

  .selector--on,
  .selector--off
  {
    font-size: 1.5em;
    vertical-align: middle;
    //float: left;
    margin-right: .4em;
  }


  > span {
    padding: .3em;
    display: inline-block;
    transition: background-color 200ms linear;
    min-width: 5em;
    width: 100%;
    * > {
      pointer-events: none;
    }
  }

  > input:checked ~ span {
    background-color: fade(@color-element-highlight, 20%);
  }

  > input:checked ~ span {
    .selector--off {
      display: none;
    }

  }

  > input:checked ~ span  {
    .selector--on {
      display: inline-block;
    }
  }

}

// Radio group selector

.btn-r-group {
  border: 2px solid @color-btn-secondary_text;
  display: inline-block;
  margin-left: -2px;
  cursor: pointer;

  span {
    min-width: 3em;
    display: inline-block;
    text-align: center;
    padding: 0 .5em;
  }

  input {
    display: none;
  }

  input:checked + span {
    background-color: @color-btn-secondary_text;
    color: @color-btn-secondary_text--selected;
  }

}

.btn-r-group:nth-child(1) {
  border-radius: 4px 0 0 4px;
}
.btn-r-group:last-child {
  border-radius: 0 4px 4px 0;
}

