@range-w: 70px;
@range-track-bg: @color-HF-element;
//@range-track-bg: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='0 0 80 31' style='enable-background:new 0 0 80 31;' xml:space='preserve'><line style='fill:none;stroke:#000000;stroke-miterlimit:10;' x1='0' y1='7.7' x2='0' y2='24.7'/><line style='fill:none;stroke:#000000;stroke-miterlimit:10;' x1='20' y1='7.7' x2='20' y2='24.7'/><line style='fill:none;stroke:#000000;stroke-miterlimit:10;' x1='40' y1='7.7' x2='40' y2='24.7'/><line style='fill:none;stroke:#000000;stroke-miterlimit:10;' x1='60' y1='7.7' x2='60' y2='24.7'/><line style='fill:none;stroke:#000000;stroke-miterlimit:10;' x1='80' y1='0' x2='80' y2='31'/></svg>");

.range-track() {
  width: 100%;
  height: 8px;
  cursor: pointer;
  //background: @range-track-bg;
  background: fade(@range-track-bg, 30%);
  border-radius: 4px;

}


.range-thumb() {
  height: 8px;
  width: 8px;
  background: @color-HF-element;
  cursor: pointer;
  //margin-top: -3px;
  border-radius: 50%;

}

.slider {
  -webkit-appearance: none;
  width: @range-w;
  display: inline-block;
  background: transparent;


  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .range-track();
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    .range-thumb();
  }

  &::-moz-range-track {
    .range-track();
  }

  &::-moz-range-thumb {
    .range-thumb();
  }

  &::-ms-track {
    width: 0;
    height: 0;
    //.range-track();
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-upper {
    background: @range-track-bg;
  }

  &::-ms-thumb {
    .range-thumb();
  }

  &:focus::-ms-fill-lower {
    background: none;//@range-track-bg;
  }

  &:focus::-ms-fill-upper {
    background: none;//@range-track-bg;
  }

}




