.btn-switch {
  position: relative;
  background-color: #c3c3c3;
  display: inline-block;
  width: 2em;
  height: 1em;
  line-height: 1em;
  border-radius: .5em;
  font-size: 1.4em;
  cursor: pointer;


  > input {
    display: none;
  }

  > .knob {
    background-color: rgba(255, 255, 255, 0.73);
    display: inline-block;
    width: 1em;
    height: 1em;
    transition: .3s all;
    border-radius: .5em;
    vertical-align: top;
    border: 2px solid rgb(255, 255, 255);
  }

  > input:checked + span {
    background-color: rgba(84, 84, 84, 0.73);
    transform: translateX(1em);
  }

}