@color-block: #ffffff;
@color-element: #5b5b5b;
@color-element-highlight: #1c9ee9;

@color-border-primary: #5b5b5b;
@color-border-secondary: #a2cfe8;

@color-panel-bg: rgba(28, 158, 233, 0.1);
@color-panel-border: #1c9ee9;

@color-btn-primary_text:#1c9ee9;
@color-btn-primary_bg:rgba(0,0,0,0);
@color-btn-primary_text--rollover:#ffffff;
@color-btn-primary_bg--rollover: rgba(28, 158, 233, 0.66);

@color-btn-secondary_text: #1c9ee9;
@color-btn-secondary_bg: rgba(28, 158, 233, 0);
@color-btn-secondary_bg--rollover: rgba(0, 0, 0, 0);
@color-btn-secondary_text--rollover: #ff8033;
@color-btn-secondary_text--selected: #ffffff;

@color-btn-tertiary_text: #ffffff;
@color-btn-tertiary_bg: rgba(0,0,0,0);
@color-btn-tertiary_bg--rollover: rgba(0, 0, 0, 0);
@color-btn-tertiary_text--rollover: #48d6ff;

@color-btn-link_bg--hover: #eea72a;

@color-nav-element: rgb(65, 65, 65);
@color-nav-block: #ffffff;
@color-nav-rollover: #fbb22b;
@color-nav-border: #d9dedd;

@color-HF-block: rgba(255, 255, 255, 0.6);
@color-HF-element: #545454;
@color-HF-rollover: #1b8cd4;

@color-media-bg: #e9f2f4;

@color-modal-header-text: #5b5b5b;
@color-modal-header-bg: #ffb42a;
@color-modal-text: #5b5b5b;
@color-modal-bg: #ffffff;
@color-modal-overlay: #080808;

@color-math-bg: rgba(255, 255, 255, 0.8);
@math-filter: unset;

@font-weight-normal: 400;
@font-weight-bolder: 700;

@color-misc-1: #59ff75;
@color-misc-2: #ff3f6a;
@color-misc-3: #9dcaff;
@color-misc-4: #ff40ec;