.accordion-section {

  margin-bottom: 3px;

  p:last-child {
    margin-bottom: 0;
  }

  > input {
    display: none;
  }

  > article {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
    position: relative;
    //padding: 0 .5em;
    //border-left: 2px solid #a956ff;
    //border-right: 2px solid #aa55ff;
    //margin: 0 .5em;

    > div {
      padding: 1rem .5rem;
    }

  }


  > input:checked ~ article {
    display: inherit;
    max-height: 1200px;
    transition: max-height 1s;
  }

  > input:checked + label > [class*="vti_"] {
    transform: rotate(180deg);
    //transition: transform 0.3s;
  }


  > label {
    //border: 3px solid #663399;
    padding: .5em;
    display: block;
    color: #ffffff;
  }


  .img-holder {
    width: 40vw;
    display: inline-block;
    float: left;
    margin-right: 1rem;
    margin-bottom: .5rem;
  }

  img {
    width: 100%;
    display: block;
  }

  [class*="vti_"] {
    float: right;
    transition: transform 0.3s;
    font-size: 1.2em;
  }

  button.overlay {
    position: absolute;
    margin: 5px;
  }


}


@media screen and (orientation: portrait) {

  .accordion-section {

    .img-holder {
      width: 100%;
    }

  }

}





