.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  .card-icon {
    height: 5em;
    //width: 5em;
    margin-top: -5rem;
    //align-self: stretch;
  }

}



.card, .card > .cover, .card > .content {
  display: block;
  height: 30vh;
  min-height: 13em;
}


.card {
  overflow: hidden;
  margin-bottom: 3em;
  //flex-grow: 1;

  p {
    margin-top: .5em;
    line-height: 1.2em;
  }

  h5 {
    font-weight: 400;
  }


  > .cover, > .content {
    display: block;
    transition: transform .3s;
    padding: 1em;

    > * {
      pointer-events: none;
    }
  }

  > .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;

  }

  > input {
    display: none;
  }

  > input:checked ~ .cover {
    transform: translate3d(0, -101%, 0);
  }

  > input:checked ~ .content {
    transform: translate3d(0, -100%, 0);
  }


  .vti_chevron-down {
    font-size: 1.5rem;
  }


  .description {
    width: 100%;
    text-align: center;
    margin-top: -2rem;
    font-size: 1.8em;
    line-height: 1.4em;
  }

  .pointer {
    align-self: stretch;
    display: block;
    width: 100%;
    //display: none;
    .vti_finger-up {
      font-size: 1.45em;
      padding: .2em;
      border-radius: 50%;
      display: inline-block;
    }
  }



}

@media screen and (min-width: 1200px){

  .card {
    &:nth-last-child(2), &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}

@media screen and (orientation: landscape){
  .card {
    width: 47%;
  }
}



@media screen and (max-width: 900px){

  .card {
    width: 100%;
    margin-bottom: 1em;
  }

}


@media @tabl-medium {
  .card,
  .card > .content,
  .card > .cover {
    height: 40vh;
  }
}


@media @mob-medium {
  .card,
  .card > .content,
  .card > .cover {
    height: 70vh;
  }
}

@media @mob-small {
  .card,
  .card > .content,
  .card > .cover {
    height: 90vh;
  }
}

