
.carousel {

  background: none;

  .carousel_img {
    img {
      width: 100%;
      display: block;
    }
  }

}


// CONTROLS =================================================================

.carousel_controls {
  user-select: none;
  margin-left: -10px;
}

.carousel_btn {
  font-size: 34px;
  display: inline-block;
  cursor: pointer;
  color: @color-element-highlight;
  > span {
    pointer-events: none;
  }
}

.carousel_circle {
  display: inline-block;
  position: relative;
  top: -1em;
  padding: .3em;
  margin-left: .4em;
  font-size: 12px;
  color: fade(@color-element, 50%);
  fill: fade(@color-element, 50%);
}

.carousel_circle--selected {
  color: @color-element;
  fill: @color-element;
}


@media screen and (orientation: landscape) {

  .carousel_inner {
    display: flex;
  }

  .carousel_img {
    width: 50%;
  }

  .carousel_txt {
    width: 50%;
    padding-left: 2em;
  }

}


@media screen and (orientation: portrait) {

  .carousel_img {
    padding-bottom: 1em;
  }

  .carousel_circle {
    font-size: 14px;
    top: -1em;
  }

  .carousel_btn {
    font-size: 42px;
  }

}


