.imgMap {
  width: 100%;
  margin: 0;
  user-select: none;
  position: relative;


  img {
    width: 100%;
    display: block;
  }

  .hotspots {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
  }


}


.hspot {
  display: block;
  position: absolute;
  z-index: 100;
  user-select: none;
  pointer-events: none;

  span {
    pointer-events: none;
  }

}

.hspot.circle {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.hspot.label {
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: ~"calc(20px - 2px)";
  border: 2px solid #ffffff;
  background: #3399cc;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  display: block;
  pointer-events: auto;

  &.selected {
    background-color: #00bc00;
    box-shadow: 0 0 10px #ffffff;
  }

}

.hspot.label.zpin {
  width: 30px;
  height: 30px;
  line-height: ~"calc(30px - 4px)";
}


.dev-mode .hspot:not(.label) {
  background: repeating-linear-gradient(
          -45deg,
          rgba(255, 0, 0, 0.5),
          rgba(255, 0, 0, 0.5) 2px,
          rgba(255, 255, 255, 0.5) 4px,
          rgba(255, 255, 255, 0.5) 8px
  );
}






@media screen and (orientation: portrait) {

  .hspot.label {
    width: 26px;
    height: 26px;
    font-size: 14px;
    line-height: ~"calc(26px - 2px)";
  }

}

@media @desktop-medium {
  .hspot.label {
    width: 26px;
    height: 26px;
    font-size: 14px;
    line-height: ~"calc(26px - 2px)";
  }
}


@media @desktop-large {
  .hspot.label {
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: ~"calc(30px - 2px)";
  }
}