svg {
  shape-rendering: geometricPrecision;
}

.svg-themed {
  fill: currentColor;
  color: @color-element;
}

img, canvas, video {
  display: inline-block;
}

.media {

  background-color: @color-media-bg;

  canvas {
    margin-bottom: .5em;
    padding: 4px;
  }

  .btn-open-explorer {
    font-size: .9rem;
    background-color: #000000;
    color: #ffffff;
    padding: .2rem .3rem;
    border-radius: 0;
    z-index: 1000;
    cursor: pointer;
    position: absolute;
  }

}

.media.border {
  border: 1px solid @color-border-primary;
}

.no-bg {
  background: none;
}

video {
  width: 100%;
}

video::cue {
  background-color: darken(@color-element-highlight, 20%);
}

.media-controls {
  display: flex;
  align-items: stretch;
  justify-content: center;

  > button, > label {
    flex-basis: 100%;
    margin: 0;
  }

  > button + *, > label + * {
    margin-left: -2px;
  }

  .toggle-off, .toggle-on {
    width: 100%;
  }

  > button, .toggle-off, .toggle-on {
    padding: 0;
    font-size: .8em;
    min-height: 3.5em;
    border-radius: 0;
  }

}

#audio-holder {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}




.video-bg {
  width: 100vw;
  height: ~"calc(100vh - 4em)";
  background-color: #3b5e87;
  position: absolute;
  left: 0;
  overflow: hidden;
  display: block;

  > video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }
}

.page-in .div-3d {
  height: 50vh;
}

.page-in .div-3d canvas {
  height: 100%;
}

.div-3d .modal_body {
  padding: 0;
  margin: 0;
}

.media.div-3d {
  background: none;
}

.media.fs {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}



@media screen and (max-width: 800px) {
  .media-controls {
    button, .toggle-off, .toggle-on {
      :not([class*="vti"]) {
        display: none;
      }
      height: 3em;
    }
  }
}











