.page-timeline > div {
  margin-bottom: 1.5rem;
}

.timeline {
  list-style: none;
  margin: 0;
  padding: 0;

  color: @color-block;

  background: linear-gradient(180deg, transparent, @color-element-highlight, transparent);
  background-position: 50%;
  background-repeat: repeat-y;
  background-size: 6px 3px;


  > li {
    position: relative;
    width: 50%;
    margin-bottom: 2em;

  }


  > li:nth-child(odd) {
    text-align: right;
    padding-right: 1.3rem;

    &:after {
      content: "\2022";
      font-family: Arial, serif;
      font-size: 2.4rem;
      line-height: .9;
      vertical-align: middle;
      color: @color-element-highlight;
      position: absolute;
      top: .5rem;
      margin-left: .9rem;
    }

    > .arrow {
      position: absolute;
      right: .3em;
      top: .5rem;
      display: inline-block;
      border-top: 1em solid transparent;
      border-left: 1em solid @color-element-highlight;
      border-right: 0 solid @color-element-highlight;
      border-bottom: 1em solid transparent;
    }

    button {
      float: left;
    }

    img {
      max-width: 30%;
    }

  }


  > li:nth-child(even) {
    padding-left: 1.3rem;
    margin-top: -5rem;
    left: 50%;

    &:before {
      content: "\2022";
      font-family: Arial, serif;
      font-size: 2.4rem;
      line-height: .9;
      vertical-align: middle;
      color: @color-element-highlight;
      position: absolute;
      margin-left: -1.7rem;
      top: .5rem;
    }

    > .arrow {
      position: absolute;
      left: .3em;
      top: .5rem;
      display: inline-block;
      border-top: 1em solid transparent;
      border-left: 0 solid @color-element-highlight;
      border-right: 1em solid @color-element-highlight;
      border-bottom: 1em solid transparent;
    }

    button {
      //right: .5rem;
      float: right;
    }

  }


  section {
    padding: .5em;
    background-color: @color-element-highlight;
    border-radius: 4px;
  }

  h5 {
    font-size: 3rem;
    font-weight: 800;
    color: @color-block;
    margin-bottom: 0;
    //margin-top: -1.3rem;
  }

  button {
    font-size: 1.4rem;
    color: @color-block;
    margin-top: .7rem;
    border: 3px solid @color-block;
    border-radius: 50%;
    padding: 0 .3rem;
  }

}

.timeline-subtitle {
  font-size: 1.3rem;
  line-height: 1.4rem;
  opacity: .7;
  margin-bottom: .5rem;
}



@media @tabl-small {

  .timeline {

    > li {

      &:nth-child(even), &:nth-child(odd) {

        width: 100%;
        padding: 0;

        > .arrow {
          display: none;
        }

        &:before, &:after {
          display: none;
        }

        button {
          float: right;
        }

      }

      &:nth-child(odd) {
        margin-top: auto;
        text-align: left;

      }

      &:nth-child(even) {
        left: 0;
        margin-top: auto;
      }


    }


  }

}













