@color-block: #414141;
@color-element: #fafafa;
@color-element-highlight: #00c8ff;

@color-border-primary: #7e7e7e;
@color-border-secondary: #a2cfe8;

@color-panel-bg: #292929;
@color-panel-border: #cccccc;

@color-btn-primary_text: #fafafa;
@color-btn-primary_bg:rgba(0,0,0,0);
@color-btn-primary_text--rollover:#ffffff;
@color-btn-primary_bg--rollover: #1b81c4;

@color-btn-secondary_text: #1c9ee9;
@color-btn-secondary_bg: rgba(0,0,0,0);
@color-btn-secondary_bg--rollover: rgba(0,0,0,0);
@color-btn-secondary_text--rollover: #ffffff;
@color-btn-secondary_text--selected: #ffffff;

@color-btn-tertiary_text: #ffffff;
@color-btn-tertiary_bg: rgba(0,0,0,0);
@color-btn-tertiary_bg--rollover: rgba(0, 0, 0, 0);
@color-btn-tertiary_text--rollover: #48d6ff;

@color-btn-link_bg--hover: #eea72a;

@color-nav-element: #fafafa;
@color-nav-block: #414141;
@color-nav-rollover: #414141;
@color-nav-border: #7e7e7e;

@color-HF-block: #4d4d4d;
@color-HF-element: #e4e4e4;
@color-HF-rollover: #1b8cd4;

@color-media-bg: rgba(0, 0, 0, 0.51);

@color-modal-header-text: #ffffff;
@color-modal-header-bg: #1b8cd4;
@color-modal-text: #ffffff;
@color-modal-bg: #4b4b4b;
@color-modal-overlay: #080808;

@color-math-bg: rgba(255, 255, 255, 0);
@math-filter: invert(100%);

@font-weight-normal: 300;
@font-weight-bolder: 400;

@color-misc-1: #59ff75;
@color-misc-2: #ff3f6a;
@color-misc-3: #9dcaff;
@color-misc-4: #ff40ec;