<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<title>VIDEOTEL</title>
    <style>

		.preloader {
			display: inline-block;
			width: 2rem;
			height: 2rem;
			padding: 0;
			margin: 2rem;
			border-radius: 100%;
			border: 2px solid;
			border-top-color: rgba(255, 255, 255, 0.65);
			border-bottom-color: rgba(255, 255, 255, 0.15);
			border-left-color: rgba(255, 255, 255, 0.65);
			border-right-color: rgba(255, 255, 255, 0.15);
			-webkit-animation: vt-preloader 0.8s linear infinite;
			animation: vt-preloader 0.8s linear infinite;
		}

		@keyframes vt-preloader {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}

		@-webkit-keyframes vt-preloader {
			from {
				-webkit-transform: rotate(0deg);
			}
			to {
				-webkit-transform: rotate(360deg);
			}
		}

        .preloader_screen {
            z-index: 250;
            width: 100vw;
            height: 100vh;
            background-color: #1c2b3e;
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            perspective: 500px;
            -webkit-perspective: 500%;
        }

        .preloader_screen_logo {
            width: 50vw;
        }

        @media screen and (orientation: portrait){

            .preloader_screen_logo {
                width: 70vw;
            }
        }



    </style>

	<link rel="manifest" href="manifest.json">

	<link rel="stylesheet" href="res/css/theme-light.css" id="theme-light">
</head>

<body>
<header>
	<button id="btn-menu-main" class="vti_hamburger"></button>
	<span id="devMode" class="hidden">DEV MODE</span>
	<div class="page-media-controls"></div>
</header>
<nav class="nav-main" id="vt-main-nav"></nav>
<div id="container">
	<main id="content"></main>
</div>
<footer class="page-nav" id="vt-footer">
	<div class="user-name">User Name</div>
	<div class="page-nav__dir">
		<div class="dir prev vti_arrow-left" id="vt-btn-prev"></div>
		<div class="page-nav__num" id="vt-page-count-display">5 / 20</div>
		<div class="dir next vti_arrow-right" id="vt-btn-next"></div>
	</div>
	<div><img class="vt-logo" src="res/assets/media/logos/videotel_grey.svg"></div>
</footer>
<div id="audio-holder">
	<audio id="audio-target" src="res/assets/default/placeholder.mp3"></audio>
</div>


<div class="preloader_screen">
	<img class="preloader_screen_logo" src="res/assets/media/logos/videotel.svg">
    <div class="preloader"></div>
</div>

<script src="res/js/libs/requirejs.js" data-main="res/js/main.js"></script>
<script src="res/js/VT5.js"></script>
<script src="res/js/libs/Tweak.js"></script>

<script>
	window.onload = function () {
		new vt.VT5("{{service}}", "{{lang}}");
	};
</script>

</body>
</html>