@charset "utf-8";
/* =====================================================================================================================
  IMPORTS
======================================================================================================================*/
p,
h1,
h2,
h3,
h4,
h5,
h6,
small {
  margin: 0;
  padding: 0;
}
ol,
ul {
  padding: 0;
  margin: 0 1em;
}
button,
input,
label,
optgroup,
select,
textarea {
  margin: 0;
  font-family: VTFont, sans-serif;
  outline: none;
}
button,
input[type=submit] {
  border: none;
  padding: 0;
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
  line-height: 150%;
  background: none;
  font-size: inherit;
  cursor: pointer;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  border: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.disabled {
  pointer-events: none;
  opacity: .5;
}
.transparent {
  opacity: 0;
}
.panel {
  background: #292929;
  padding: 1rem;
}
.panel-border {
  border: 1px solid #cccccc;
  padding: 1rem;
}
.v-divider {
  max-width: 1px;
  border-right: 1px solid rgba(126, 126, 126, 0.5);
  display: block;
  margin-right: 2rem;
}
.code {
  color: #00bc00;
}
.no-scroll {
  overflow: hidden;
}
.no-bg {
  background: none;
}
.math-1-line,
.math-2-line {
  height: 1.5em;
  display: inline-block;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0);
  filter: invert(100%);
}
.math-1-line *,
.math-2-line * {
  fill: currentColor;
}
.math-2-line {
  height: 2.5em;
  line-height: 1em;
}
.bg-grid {
  background: linear-gradient(0deg, rgba(184, 184, 184, 0.7) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, #cccccc 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(0deg, rgba(106, 106, 106, 0.3) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 1px), rgba(0, 0, 0, 0);
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-size: 4em 4em, 4em 4em, 1em 1em, 1em 1em;
}
@font-face {
  font-family: "VTIcons";
  src: url('../css/fonts/VTIcons.woff') format('woff'), url('../css/fonts/VTIcons.ttf') format('truetype');
}
[class*="vti_"] {
  font-family: "VTIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}
.vti_001:before {
  content: "\EA01";
}
.vti_002:before {
  content: "\EA02";
}
.vti_003:before {
  content: "\EA03";
}
.vti_004:before {
  content: "\EA04";
}
.vti_005:before {
  content: "\EA05";
}
.vti_008:before {
  content: "\EA08";
}
.vti_006:before {
  content: "\EA06";
}
.vti_007:before {
  content: "\EA07";
}
.vti_009:before {
  content: "\EA09";
}
.vti_010:before {
  content: "\EA0A";
}
.vti_012:before {
  content: "\EA0C";
}
.vti_13:before {
  content: "\EA0F";
}
.vti_011:before {
  content: "\EA0B";
}
.vti_14:before {
  content: "\EA10";
}
.vti_11:before {
  content: "\EA0D";
}
.vti_15:before {
  content: "\EA11";
}
.vti_12:before {
  content: "\EA0E";
}
.vti_16:before {
  content: "\EA12";
}
.vti_18:before {
  content: "\EA14";
}
.vti_17:before {
  content: "\EA13";
}
.vti_20:before {
  content: "\EA16";
}
.vti_3d:before {
  content: "\EA17";
}
.vti_19:before {
  content: "\EA15";
}
.vti_arrow-left:before {
  content: "\EA18";
}
.vti_arrow-right:before {
  content: "\EA19";
}
.vti_arrow-thin-left:before {
  content: "\EA1A";
}
.vti_arrow-thin-right:before {
  content: "\EA1B";
}
.vti_badge:before {
  content: "\EA1C";
}
.vti_bulb:before {
  content: "\EA1E";
}
.vti_camera:before {
  content: "\EA1F";
}
.vti_check:before {
  content: "\EA21";
}
.vti_checkbox-on:before {
  content: "\EA23";
}
.vti_cc:before {
  content: "\EA20";
}
.vti_blank:before {
  content: "\EA1D";
}
.vti_chevron-down:before {
  content: "\EA24";
}
.vti_checkbox-off:before {
  content: "\EA22";
}
.vti_chevron-right:before {
  content: "\EA26";
}
.vti_chevron-left:before {
  content: "\EA25";
}
.vti_chevron-up:before {
  content: "\EA27";
}
.vti_circle-filled:before {
  content: "\EA28";
}
.vti_clockwise:before {
  content: "\EA29";
}
.vti_close-circle:before {
  content: "\EA2A";
}
.vti_close:before {
  content: "\EA2B";
}
.vti_correct:before {
  content: "\EA2C";
}
.vti_decrease:before {
  content: "\EA2E";
}
.vti_counter-clockwise:before {
  content: "\EA2D";
}
.vti_doc-pdf:before {
  content: "\EA2F";
}
.vti_exit:before {
  content: "\EA30";
}
.vti_eye:before {
  content: "\EA32";
}
.vti_feedback:before {
  content: "\EA33";
}
.vti_expand:before {
  content: "\EA31";
}
.vti_film:before {
  content: "\EA35";
}
.vti_film-reel:before {
  content: "\EA34";
}
.vti_finger-up:before {
  content: "\EA36";
}
.vti_flip:before {
  content: "\EA37";
}
.vti_fullscreen:before {
  content: "\EA38";
}
.vti_glossary:before {
  content: "\EA39";
}
.vti_hamburger:before {
  content: "\EA3A";
}
.vti_help:before {
  content: "\EA3B";
}
.vti_home:before {
  content: "\EA3C";
}
.vti_incorrect:before {
  content: "\EA3D";
}
.vti_increase:before {
  content: "\EA3E";
}
.vti_info:before {
  content: "\EA3F";
}
.vti_link-external:before {
  content: "\EA40";
}
.vti_link-internal:before {
  content: "\EA41";
}
.vti_link-popup:before {
  content: "\EA42";
}
.vti_list:before {
  content: "\EA43";
}
.vti_minus:before {
  content: "\EA44";
}
.vti_move-left:before {
  content: "\EA45";
}
.vti_move-right:before {
  content: "\EA46";
}
.vti_page:before {
  content: "\EA47";
}
.vti_pin:before {
  content: "\EA49";
}
.vti_pause:before {
  content: "\EA48";
}
.vti_play-back:before {
  content: "\EA4A";
}
.vti_play-step-ff:before {
  content: "\EA4C";
}
.vti_play-step-back:before {
  content: "\EA4B";
}
.vti_play:before {
  content: "\EA4D";
}
.vti_plus:before {
  content: "\EA4E";
}
.vti_print:before {
  content: "\EA50";
}
.vti_power:before {
  content: "\EA4F";
}
.vti_question:before {
  content: "\EA52";
}
.vti_qr:before {
  content: "\EA51";
}
.vti_radio-off:before {
  content: "\EA53";
}
.vti_radio-on:before {
  content: "\EA54";
}
.vti_redo:before {
  content: "\EA55";
}
.vti_save:before {
  content: "\EA57";
}
.vti_refresh:before {
  content: "\EA56";
}
.vti_search:before {
  content: "\EA58";
}
.vti_settings:before {
  content: "\EA59";
}
.vti_slr:before {
  content: "\EA5A";
}
.vti_sound-off:before {
  content: "\EA5B";
}
.vti_sound-on:before {
  content: "\EA5C";
}
.vti_star:before {
  content: "\EA5D";
}
.vti_stop:before {
  content: "\EA5E";
}
.vti_test:before {
  content: "\EA5F";
}
.vti_tutorial:before {
  content: "\EA60";
}
.vti_vr:before {
  content: "\EA61";
}
.vti_warning:before {
  content: "\EA62";
}
.vti_zoom-in:before {
  content: "\EA63";
}
.vti_zoom-out:before {
  content: "\EA64";
}
@font-face {
  font-family: "VTFont";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/RobotoCondensed-Light.ttf");
}
@font-face {
  font-family: "VTFont";
  font-style: italic;
  font-weight: 300;
  src: url("fonts/RobotoCondensed-LightItalic.ttf");
}
@font-face {
  font-family: "VTFont";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: "VTFont";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/RobotoCondensed-Italic.ttf");
}
@font-face {
  font-family: "VTFont";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: "VTFont";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/Roboto-Black.ttf");
}
html {
  font-family: VTFont, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 300;
}
p {
  margin: -0.33333em 0 1.7em 0;
}
.justified {
  text-align: justify;
}
h1,
h2,
h3,
h4,
h5 {
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
h1 {
  text-transform: uppercase;
  font-size: 3.5em;
  line-height: .8em;
  letter-spacing: -0.02em;
}
h1.big-num {
  font-size: 16em;
  font-weight: 700;
  letter-spacing: -0.1em;
  line-height: .6em;
  margin-left: -0.03em;
}
h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
  letter-spacing: -0.05em;
  opacity: .8;
}
h3 {
  font-weight: 300;
  font-size: 2.5em;
  letter-spacing: -0.05em;
  line-height: 2.5rem;
}
h4,
h5 {
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.26;
  margin-bottom: .75rem;
  margin-top: -0.25em;
}
h5 {
  color: #00c8ff;
  margin-bottom: .45rem;
}
small {
  font-size: .875em;
  line-height: 1rem;
  margin-bottom: 1rem;
  display: block;
}
em,
blockquote,
.important,
.warning {
  display: block;
  padding: .28em 1em;
  background: rgba(250, 250, 250, 0.1);
  font-style: normal;
  margin: 0 0 1em 0;
}
em,
.important {
  border-left: 4px solid #00c8ff;
  background-color: rgba(0, 200, 255, 0.1);
}
.warning {
  border-left: 4px solid rgba(204, 0, 0, 0.8);
  background-color: rgba(204, 0, 0, 0.1);
}
blockquote {
  font-style: normal;
  background: rgba(250, 250, 250, 0.1);
  border-left: 4px solid rgba(250, 250, 250, 0.6);
  padding: .8em 1em .5em 1em;
  quotes: "\201C" "\201D";
}
blockquote:before {
  content: "“";
  font-family: Arial, serif;
  font-style: normal;
  font-weight: 700;
  color: rgba(250, 250, 250, 0.3);
  font-size: 6em;
  line-height: 0;
  vertical-align: -0.43em;
}
blockquote p {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: 700;
  font-size: .9em;
  color: rgba(250, 250, 250, 0.4);
  text-align: right;
}
code {
  font-family: Courier, "Courier New", monospace;
  color: #00d100;
}
.bold {
  font-weight: 600;
}
.legend,
legend {
  background-color: #414141;
  display: block;
  width: 100%;
  line-height: 1.2em;
  margin: .5em 0;
  font-size: .8em;
  font-style: italic;
}
.legend span,
legend span {
  margin-right: .5rem;
  display: inline-block;
}
.legend--color {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  line-height: .6em;
  vertical-align: middle;
}
.bullets > p {
  margin: 0 0 1em 1.39em;
  position: relative;
  font-weight: bolder;
  color: #fafafa;
}
.bullets > p:before {
  font-family: VTFont, sans-serif;
  content: "·";
  font-size: 3em;
  margin-right: 1em;
  position: absolute;
  line-height: .5;
  left: -0.5em;
  color: #00c8ff;
}
.cued {
  opacity: .6;
}
p + ul,
p + ol {
  margin-top: -1em;
}
li {
  margin-bottom: .2em;
}
ol {
  margin: 0 0 1.5em 1em;
}
ul {
  list-style: none;
  padding: 0 .5em;
  margin: 0 0 1.5em 0;
}
ul li {
  padding-left: .6em;
  position: relative;
}
ul li:before {
  content: "\2022";
  font-family: Arial, serif;
  font-size: 2em;
  line-height: .7;
  vertical-align: middle;
  color: #00c8ff;
  padding-right: .5em;
  position: absolute;
  margin-left: -0.6em;
}
.hgroup > h3 {
  margin-top: 1rem;
}
.inline {
  line-height: .8em;
  font-size: .7em;
  background: rgba(250, 250, 250, 0.2);
  padding: .4em .3em;
  display: inline;
}
@media screen and (orientation: portrait) {
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.7rem;
  }
  h4 {
    font-size: 1.2em;
    font-weight: 300;
  }
  .justified {
    text-align: inherit;
  }
}
header {
  height: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.25em;
  background-color: #4d4d4d;
  border-bottom: 1px solid rgba(126, 126, 126, 0.5);
  color: #e4e4e4;
}
header button,
header .btn-toggle {
  color: #e4e4e4;
  transition: .5s color;
}
header button:hover,
header .btn-toggle:hover {
  color: #1b8cd4;
}
#btn-menu-main {
  font-size: 1.2em;
  margin-top: .2em;
}
.page-media-controls {
  font-size: .7rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.page-media-controls button,
.page-media-controls label {
  margin-left: .5em;
  color: #e4e4e4;
}
@media screen and (max-width: 800px) {
  header input[type=range] {
    display: none;
  }
}
footer {
  font-size: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 2rem;
  bottom: 0;
  position: fixed;
  width: 100vw;
  background-color: #4d4d4d;
  color: #e4e4e4;
  fill: #e4e4e4;
  border-top: 1px solid rgba(126, 126, 126, 0.5);
}
footer > div {
  background-color: #00bc00;
}
footer .user-name,
footer .dir,
footer .vt-logo {
  transform: scale3d(1, 0, 0);
  transition: transform .2s;
}
footer:hover {
  transition: height .3s ease;
}
footer:hover .dir,
footer:hover .user-name,
footer:hover .vt-logo {
  transform: scale3d(1, 1, 1);
}
.user-name {
  font-size: .8rem;
}
.vt-logo {
  text-align: right;
  width: 10em;
}
#vt-page-count-display {
  min-width: 8vh;
  text-align: center;
}
.page-nav__dir {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.page-nav__dir div {
  padding: 0 .5vw;
}
.page-nav__dir div:hover {
  color: #1b8cd4;
}
.dir {
  cursor: pointer;
  font-size: 1.3em;
}
@media screen and (max-width: 600px) {
  footer {
    display: none;
  }
}
@media screen and (orientation: landscape) {
  .page-cols {
    display: -ms-flexbox;
    display: flex;
  }
  .page-cols > div {
    width: 50%;
  }
  .page-cols > div:nth-child(1) {
    margin-right: 2rem;
  }
  .page-cols > div:nth-child(2) {
    margin-left: 2rem;
  }
  .page-cols img,
  .page-cols canvas,
  .page-cols video {
    width: 100%;
    display: block;
  }
}
@media screen and (orientation: portrait) {
  .page-cols img,
  .page-cols canvas,
  .page-cols video {
    width: 100%;
    display: block;
  }
  .page-cols > div {
    margin-bottom: 2em;
  }
}
.splash {
  color: #f7f7f7;
  overflow: hidden;
}
.splash h2 {
  margin-bottom: -0.2rem;
}
.splash h1,
.splash h2 {
  width: 90vw;
}
.splash .big-num {
  margin-left: -0.5rem;
  margin-bottom: 1.2rem;
}
.splash > .group {
  position: absolute;
  animation: frames-show 1.5s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
@media screen and (orientation: landscape) {
  .splash > .group {
    bottom: 4rem;
  }
}
@media screen and (orientation: portrait) {
  .splash > .group {
    margin-left: .2rem;
    margin-top: 1.5rem;
  }
  .splash > .group .big-num {
    font-size: 8rem;
  }
}
.full-page .media {
  background: none;
}
@media screen and (orientation: landscape) {
  .full-page .video-holder {
    width: 60vw;
    max-width: 1400px;
  }
}
.page-in.explorer > .description {
  margin-bottom: 1em;
  display: block;
}
.page-in.explorer .img-holder {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.51);
  padding: 0;
}
.page-in.explorer .img-holder > img {
  width: 100%;
  position: relative;
  display: block;
}
.page-in.explorer .img-holder > button {
  position: absolute;
  z-index: 10;
  margin: 5px;
}
.page-in.explorer .thumb {
  background-color: #fafafa;
  margin: 2px;
  padding: 0;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.page-in.explorer .thumb > img {
  margin: 0;
  padding: 0;
  width: 100%;
  pointer-events: none;
}
.explorer_thumb--clicked {
  filter: grayscale(100%) brightness(0.6);
}
@media screen and (orientation: landscape) {
  .page-in.explorer {
    overflow: hidden;
    max-height: 70vh;
  }
  .page-in.explorer .body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .page-in.explorer .body > .img-holder,
  .page-in.explorer .body > .table {
    width: 50%;
  }
  .page-in.explorer .table {
    margin-left: 1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
  .page-in.explorer .thumb {
    width: 5em;
    height: 5em;
  }
}
@media screen and (orientation: portrait) {
  .page-in.explorer {
    width: 92vw;
    padding-bottom: 40rem;
  }
  .page-in.explorer .table {
    margin-top: 1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .page-in.explorer .thumb {
    width: 4em;
    height: 4em;
  }
}
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #fafafa;
}
th,
td {
  padding: 5px;
}
th {
  font-weight: 400;
}
tr:nth-child(even) {
  background-color: rgba(0, 200, 255, 0.04);
}
caption {
  margin-bottom: .5em;
  font-size: 1.3333em;
  color: #00c8ff;
}
fieldset {
  border: 1px solid #a2cfe8;
}
fieldset > legend {
  color: #00c8ff;
}
/*.table-row {
  display: table-row;

  > div, > span {
    display: table-cell;
    width: 100%;
    padding: 2px 4px;
    vertical-align: middle;
  }

  > div:nth-child(1), > span:nth-child(1) {
    padding-right: 1em;
  }


}*/
a {
  color: #00c8ff;
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  color: #eea72a;
}
a > img,
a > image {
  pointer-events: none;
}
button span + [class*="vti"] {
  margin-left: .5rem;
}
button [class*="vti"] + span {
  margin-left: .5rem;
}
button > span {
  pointer-events: none;
}
button,
.btn-toggle {
  border-radius: 4px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fafafa;
  margin: 0 .2em .2em 0;
}
button [class*="vti"],
.btn-toggle [class*="vti"] {
  font-size: 1.25em;
  vertical-align: -0.22em;
}
.btn-primary {
  padding: 1em 2em;
  border: 2px solid #fafafa;
  color: #fafafa;
  background: rgba(0, 0, 0, 0);
  letter-spacing: .1em;
  transition: background .5s, color .5s;
}
.btn-primary:hover {
  background: #1b81c4;
  color: #ffffff;
  box-shadow: inset 0 0 5px 2px rgba(250, 250, 250, 0.3);
}
.btn-secondary,
.btn-inline-icon {
  padding: .307em .433em;
  background: rgba(0, 0, 0, 0);
  color: #1c9ee9;
  border: 2px solid #1c9ee9;
  transition: .5s background, color .5s;
}
.btn-secondary:hover,
.btn-inline-icon:hover {
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
}
.btn-tertiary {
  padding: .3em;
  border: 2px solid #ffffff;
  color: #ffffff;
  line-height: 1.2;
  transition: .5s background, .5s color;
}
.btn-tertiary:hover {
  color: #48d6ff;
  background: rgba(0, 0, 0, 0);
}
.btn-tertiary.overlay {
  text-shadow: 1px 1px 3px rgba(99, 99, 99, 0.5);
  box-shadow: 1px 1px 3px rgba(99, 99, 99, 0.5);
  background: rgba(99, 99, 99, 0.7);
}
.btn-inline-icon {
  vertical-align: middle;
  border-radius: 50%;
  border: none;
  padding: .3rem;
  cursor: pointer;
}
.btn-toggle {
  text-align: center;
  border: none;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
}
.btn-toggle .toggle-off,
.btn-toggle .toggle-on {
  border-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.btn-toggle .toggle-off span + [class*="vti"],
.btn-toggle .toggle-on span + [class*="vti"] {
  margin-left: .5rem;
}
.btn-toggle .toggle-off [class*="vti"] + span,
.btn-toggle .toggle-on [class*="vti"] + span {
  margin-left: .5rem;
}
.btn-toggle .toggle-off > span,
.btn-toggle .toggle-on > span {
  pointer-events: none;
}
.btn-toggle > input,
.btn-toggle > .toggle-on {
  display: none;
}
.btn-toggle > input:checked ~ .toggle-on {
  display: -ms-flexbox;
  display: flex;
}
.btn-toggle > input:checked ~ .toggle-off {
  display: none;
}
.btn-icon {
  line-height: 1.5;
}
@media screen and (orientation: portrait) {
  .btn-primary {
    padding: .6em 1em;
  }
}
select {
  font-size: 1.2em;
  margin: .2em;
  border-radius: 4px;
  outline: 0;
  border: 1px solid #00c8ff;
  color: #fafafa;
  background-color: rgba(65, 65, 65, 0.5);
}
.select--correct {
  background-color: rgba(45, 160, 39, 0.8);
  color: #fff;
}
.select--incorrect {
  background-color: rgba(239, 16, 4, 0.8);
  color: #fff;
}
.num-stepper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1em;
  padding: 0;
}
.num-stepper > span:nth-child(1),
.num-stepper > span:nth-child(3) {
  border: 2px solid #fafafa;
  color: #fafafa;
  padding: 5px;
  cursor: pointer;
  font-size: .9em;
}
.num-stepper > span:nth-child(1) {
  border-radius: 4px 0 0 4px;
}
.num-stepper > span:nth-child(3) {
  border-radius: 0 4px 4px 0;
}
.num-stepper > input {
  width: 4em;
  border-top: 2px solid #fafafa;
  border-bottom: 2px solid #fafafa;
  border-left: none;
  border-right: none;
  font-size: 1em;
  text-align: center;
  outline: none;
  margin: 0;
  border-radius: 0;
}
@media only screen and (max-width:600px) {
  .num-stepper {
    font-size: 1.2em;
  }
  .num-stepper input {
    width: 5rem;
    pointer-events: none;
  }
}
.input_select {
  cursor: pointer;
}
.input_select > input,
.input_select .selector--on {
  display: none;
}
.input_select .selector--on,
.input_select .selector--off {
  font-size: 1.5em;
  vertical-align: middle;
  margin-right: .4em;
}
.input_select > span {
  padding: .3em;
  display: inline-block;
  transition: background-color 200ms linear;
  min-width: 5em;
  width: 100%;
}
.input_select > span * {
  pointer-events: none;
}
.input_select > input:checked ~ span {
  background-color: rgba(0, 200, 255, 0.2);
}
.input_select > input:checked ~ span .selector--off {
  display: none;
}
.input_select > input:checked ~ span .selector--on {
  display: inline-block;
}
.btn-r-group {
  border: 2px solid #1c9ee9;
  display: inline-block;
  margin-left: -2px;
  cursor: pointer;
}
.btn-r-group span {
  min-width: 3em;
  display: inline-block;
  text-align: center;
  padding: 0 .5em;
}
.btn-r-group input {
  display: none;
}
.btn-r-group input:checked + span {
  background-color: #1c9ee9;
  color: #ffffff;
}
.btn-r-group:nth-child(1) {
  border-radius: 4px 0 0 4px;
}
.btn-r-group:last-child {
  border-radius: 0 4px 4px 0;
}
.slider {
  -webkit-appearance: none;
  width: 70px;
  display: inline-block;
  background: transparent;
}
.slider:focus {
  outline: none;
}
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: rgba(228, 228, 228, 0.3);
  border-radius: 4px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  background: #e4e4e4;
  cursor: pointer;
  border-radius: 50%;
}
.slider::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: rgba(228, 228, 228, 0.3);
  border-radius: 4px;
}
.slider::-moz-range-thumb {
  height: 8px;
  width: 8px;
  background: #e4e4e4;
  cursor: pointer;
  border-radius: 50%;
}
.slider::-ms-track {
  width: 0;
  height: 0;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.slider::-ms-fill-upper {
  background: #e4e4e4;
}
.slider::-ms-thumb {
  height: 8px;
  width: 8px;
  background: #e4e4e4;
  cursor: pointer;
  border-radius: 50%;
}
.slider:focus::-ms-fill-lower {
  background: none;
}
.slider:focus::-ms-fill-upper {
  background: none;
}
.btn-switch {
  position: relative;
  background-color: #c3c3c3;
  display: inline-block;
  width: 2em;
  height: 1em;
  line-height: 1em;
  border-radius: .5em;
  font-size: 1.4em;
  cursor: pointer;
}
.btn-switch > input {
  display: none;
}
.btn-switch > .knob {
  background-color: rgba(255, 255, 255, 0.73);
  display: inline-block;
  width: 1em;
  height: 1em;
  transition: .3s all;
  border-radius: .5em;
  vertical-align: top;
  border: 2px solid #ffffff;
}
.btn-switch > input:checked + span {
  background-color: rgba(84, 84, 84, 0.73);
  transform: translateX(1em);
}
#vt-main-nav {
  position: absolute;
  top: 0;
  background-color: #414141;
  box-shadow: 2px 0 25px rgba(0, 0, 0, 0.7);
  z-index: 101;
  font-size: .9em;
  left: -1px;
  height: 100vh;
  width: 30vw;
  overflow: hidden;
  color: #fafafa;
}
.nav-modules__sub-holder {
  padding: 10px;
  position: absolute;
  height: 100vh;
  overflow-y: auto;
  width: 100%;
}
.nav-modules__sub-holder .selected {
  color: #00c8ff;
  border-right: 4px solid #00c8ff;
}
.nav-modules__sub-holder .btn-switch {
  margin: 0 .5em;
}
.nav-item {
  border-bottom: 1px solid #7e7e7e;
  cursor: pointer;
  padding: .3em;
  transition: color .3s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.nav-item > span {
  pointer-events: none;
  vertical-align: middle;
  line-height: 1.2em;
}
.nav-item .nav-icon--content,
.nav-item .nav-icon--direction,
.nav-item .nav-icon--tool {
  line-height: 1em;
  border-radius: 50%;
  padding: .4em;
  margin-right: 1.4em;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: inline-block;
}
.nav-item .nav-icon--content,
.nav-item .nav-icon--tool {
  background-color: #00c8ff;
  color: #414141;
}
.nav-item .nav-icon--tool {
  background-color: #fafafa;
}
.nav-item .nav-icon--content + span {
  color: #00c8ff;
}
.nav-item:hover {
  background-color: rgba(250, 250, 250, 0.1);
}
.nav-item input[type=checkbox] {
  display: none;
}
.nav-item input[type=checkbox]:checked + .settings {
  display: block;
}
.nav-item .settings {
  cursor: default;
  background-color: #414141;
  color: #fafafa;
  padding: .5em;
  margin-top: .5em;
  display: none;
  vertical-align: middle;
  width: 100%;
}
.nav-item .settings > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: .5rem;
}
.nav-item .settings > div > .title {
  width: 30%;
}
.nav-item .settings select {
  font-size: 1rem;
}
.nav-item.nav-settings {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.nav-item.nav-settings:nth-child(2) {
  width: 100%;
}
.nav-title {
  border-bottom: 1px solid #7e7e7e;
  color: rgba(250, 250, 250, 0.7);
  font-size: 1.2em;
  pointer-events: none;
}
@media screen and (orientation: portrait) {
  #vt-main-nav {
    width: 100vw;
  }
  #vt-main-nav .nav-modules__sub-holder {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 6em;
  }
}
.video-controls-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: .8em;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  margin-top: -1.8em;
  margin-bottom: 4em;
  position: relative;
}
.video-controls-bar > .vc-time {
  font-size: .9em;
  padding: 0 .5em;
  color: #c8c8c8;
}
.video-controls-bar > .hidden {
  display: none;
}
.video-controls-bar .select {
  position: absolute;
  margin-left: -5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  max-height: 300px;
  min-width: 100px;
  overflow-y: auto;
}
.video-controls-bar .select_option {
  display: block;
  color: #b8b8b8;
  cursor: pointer;
  font-family: VTFont, sans-serif;
}
.video-controls-bar .select_option:hover {
  color: #ffffff;
}
.video-controls-bar .select_option > span {
  padding: 2px;
}
.video-controls-bar .select_option input[type=radio] {
  display: none;
}
.video-controls-bar .select_option input[type=radio]:checked ~ span {
  color: #ffffff;
}
.video-controls-bar input[type=range] {
  -webkit-appearance: none;
  margin: 0 .5em;
  -ms-flex-positive: 10;
  flex-grow: 10;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.video-controls-bar input[type=range]:focus {
  outline: none;
}
.video-controls-bar input[type=range]::-webkit-slider-runnable-track {
  height: .8em;
  cursor: pointer;
  background: #737373;
  border: none;
  margin: 0;
  padding: 0;
}
.video-controls-bar input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: .8em;
  width: 12px;
  background: #c8c8c8;
  cursor: pointer;
  border-radius: 0;
  padding: 0;
}
.video-controls-bar input[type=range]::-moz-range-track {
  height: .8em;
  cursor: pointer;
  background: #737373;
  border: none;
  margin: 0;
  padding: 0;
}
.video-controls-bar input[type=range]::-moz-range-thumb {
  height: .8em;
  width: 12px;
  background: #c8c8c8;
  cursor: pointer;
  border-radius: 0;
  padding: 0;
}
.video-controls-bar input[type=range]::-ms-track {
  height: .8em;
  cursor: pointer;
  background: #737373;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  border-color: transparent;
  color: transparent;
  height: 1px;
}
.video-controls-bar input[type=range]::-ms-tooltip {
  display: none;
}
.video-controls-bar input[type=range]::-ms-fill-upper {
  background: #737373;
}
.video-controls-bar input[type=range]::-ms-thumb {
  height: .8em;
  width: 12px;
  background: #c8c8c8;
  cursor: pointer;
  border-radius: 0;
  padding: 0;
}
.video-controls-bar input[type=range]:focus::-ms-fill-lower {
  background: #737373;
}
.video-controls-bar input[type=range]:focus::-ms-fill-upper {
  background: #737373;
}
.vc {
  padding: 0 5px;
  cursor: pointer;
  margin-right: 2px;
  font-weight: 700;
  background-color: #737373;
}
.vc:hover {
  color: #eeeeee;
}
.video-holder--fs {
  width: auto;
  height: auto;
  background-color: #000000;
}
.video-holder--fs > video {
  width: 100vw;
  height: 100vh;
}
.video-holder--fs .video-controls-bar {
  bottom: 10px;
  position: absolute;
  width: 100%;
  margin: 0;
}
@media screen and (orientation: portrait) {
  .video-controls-bar {
    font-size: 1.2em;
    margin-top: -1.1em;
  }
  .video-controls-bar .select {
    bottom: 1.8em;
  }
  .video-controls-bar .vc-time {
    display: none;
  }
}
@media screen and (orientation: landscape) {
  .video-controls-bar .select {
    bottom: 2em;
  }
  .divider--time {
    -ms-flex-preferred-size: 1em;
    flex-basis: 1em;
  }
}
svg {
  shape-rendering: geometricPrecision;
}
.svg-themed {
  fill: currentColor;
  color: #fafafa;
}
img,
canvas,
video {
  display: inline-block;
}
.media {
  background-color: rgba(0, 0, 0, 0.51);
}
.media canvas {
  margin-bottom: .5em;
  padding: 4px;
}
.media .btn-open-explorer {
  font-size: .9rem;
  background-color: #000000;
  color: #ffffff;
  padding: .2rem .3rem;
  border-radius: 0;
  z-index: 1000;
  cursor: pointer;
  position: absolute;
}
.media.border {
  border: 1px solid #7e7e7e;
}
.no-bg {
  background: none;
}
video {
  width: 100%;
}
video::cue {
  background-color: #007899;
}
.media-controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: center;
  justify-content: center;
}
.media-controls > button,
.media-controls > label {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin: 0;
}
.media-controls > button + *,
.media-controls > label + * {
  margin-left: -2px;
}
.media-controls .toggle-off,
.media-controls .toggle-on {
  width: 100%;
}
.media-controls > button,
.media-controls .toggle-off,
.media-controls .toggle-on {
  padding: 0;
  font-size: .8em;
  min-height: 3.5em;
  border-radius: 0;
}
#audio-holder {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
.video-bg {
  width: 100vw;
  height: calc(100vh - 4em);
  background-color: #3b5e87;
  position: absolute;
  left: 0;
  overflow: hidden;
  display: block;
}
.video-bg > video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.page-in .div-3d {
  height: 50vh;
}
.page-in .div-3d canvas {
  height: 100%;
}
.div-3d .modal_body {
  padding: 0;
  margin: 0;
}
.media.div-3d {
  background: none;
}
.media.fs {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .media-controls button,
  .media-controls .toggle-off,
  .media-controls .toggle-on {
    height: 3em;
  }
  .media-controls button :not([class*="vti"]),
  .media-controls .toggle-off :not([class*="vti"]),
  .media-controls .toggle-on :not([class*="vti"]) {
    display: none;
  }
}
.carousel {
  background: none;
}
.carousel .carousel_img img {
  width: 100%;
  display: block;
}
.carousel_controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: -10px;
}
.carousel_btn {
  font-size: 34px;
  display: inline-block;
  cursor: pointer;
  color: #00c8ff;
}
.carousel_btn > span {
  pointer-events: none;
}
.carousel_circle {
  display: inline-block;
  position: relative;
  top: -1em;
  padding: .3em;
  margin-left: .4em;
  font-size: 12px;
  color: rgba(250, 250, 250, 0.5);
  fill: rgba(250, 250, 250, 0.5);
}
.carousel_circle--selected {
  color: #fafafa;
  fill: #fafafa;
}
@media screen and (orientation: landscape) {
  .carousel_inner {
    display: -ms-flexbox;
    display: flex;
  }
  .carousel_img {
    width: 50%;
  }
  .carousel_txt {
    width: 50%;
    padding-left: 2em;
  }
}
@media screen and (orientation: portrait) {
  .carousel_img {
    padding-bottom: 1em;
  }
  .carousel_circle {
    font-size: 14px;
    top: -1em;
  }
  .carousel_btn {
    font-size: 42px;
  }
}
.cards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.cards .card-icon {
  height: 5em;
  margin-top: -5rem;
}
.card,
.card > .cover,
.card > .content {
  display: block;
  height: 30vh;
  min-height: 13em;
}
.card {
  overflow: hidden;
  margin-bottom: 3em;
}
.card p {
  margin-top: .5em;
  line-height: 1.2em;
}
.card h5 {
  font-weight: 400;
}
.card > .cover,
.card > .content {
  display: block;
  transition: transform .3s;
  padding: 1em;
}
.card > .cover > *,
.card > .content > * {
  pointer-events: none;
}
.card > .cover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #ffffff;
}
.card > input {
  display: none;
}
.card > input:checked ~ .cover {
  transform: translate3d(0, -101%, 0);
}
.card > input:checked ~ .content {
  transform: translate3d(0, -100%, 0);
}
.card .vti_chevron-down {
  font-size: 1.5rem;
}
.card .description {
  width: 100%;
  text-align: center;
  margin-top: -2rem;
  font-size: 1.8em;
  line-height: 1.4em;
}
.card .pointer {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  display: block;
  width: 100%;
}
.card .pointer .vti_finger-up {
  font-size: 1.45em;
  padding: .2em;
  border-radius: 50%;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .card:nth-last-child(2),
  .card:nth-last-child(1) {
    margin-bottom: 0;
  }
}
@media screen and (orientation: landscape) {
  .card {
    width: 47%;
  }
}
@media screen and (max-width: 900px) {
  .card {
    width: 100%;
    margin-bottom: 1em;
  }
}
@media only screen and (max-width:760px) {
  .card,
  .card > .content,
  .card > .cover {
    height: 40vh;
  }
}
@media only screen and (max-width:420px) {
  .card,
  .card > .content,
  .card > .cover {
    height: 70vh;
  }
}
@media only screen and (max-width:320px) {
  .card,
  .card > .content,
  .card > .cover {
    height: 90vh;
  }
}
.accordion-section {
  margin-bottom: 3px;
}
.accordion-section p:last-child {
  margin-bottom: 0;
}
.accordion-section > input {
  display: none;
}
.accordion-section > article {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
  position: relative;
}
.accordion-section > article > div {
  padding: 1rem .5rem;
}
.accordion-section > input:checked ~ article {
  display: inherit;
  max-height: 1200px;
  transition: max-height 1s;
}
.accordion-section > input:checked + label > [class*="vti_"] {
  transform: rotate(180deg);
}
.accordion-section > label {
  padding: .5em;
  display: block;
  color: #ffffff;
}
.accordion-section .img-holder {
  width: 40vw;
  display: inline-block;
  float: left;
  margin-right: 1rem;
  margin-bottom: .5rem;
}
.accordion-section img {
  width: 100%;
  display: block;
}
.accordion-section [class*="vti_"] {
  float: right;
  transition: transform 0.3s;
  font-size: 1.2em;
}
.accordion-section button.overlay {
  position: absolute;
  margin: 5px;
}
@media screen and (orientation: portrait) {
  .accordion-section .img-holder {
    width: 100%;
  }
}
.page-timeline > div {
  margin-bottom: 1.5rem;
}
.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #414141;
  background: linear-gradient(180deg, transparent, #00c8ff, transparent);
  background-position: 50%;
  background-repeat: repeat-y;
  background-size: 6px 3px;
}
.timeline > li {
  position: relative;
  width: 50%;
  margin-bottom: 2em;
}
.timeline > li:nth-child(odd) {
  text-align: right;
  padding-right: 1.3rem;
}
.timeline > li:nth-child(odd):after {
  content: "\2022";
  font-family: Arial, serif;
  font-size: 2.4rem;
  line-height: .9;
  vertical-align: middle;
  color: #00c8ff;
  position: absolute;
  top: .5rem;
  margin-left: .9rem;
}
.timeline > li:nth-child(odd) > .arrow {
  position: absolute;
  right: .3em;
  top: .5rem;
  display: inline-block;
  border-top: 1em solid transparent;
  border-left: 1em solid #00c8ff;
  border-right: 0 solid #00c8ff;
  border-bottom: 1em solid transparent;
}
.timeline > li:nth-child(odd) button {
  float: left;
}
.timeline > li:nth-child(odd) img {
  max-width: 30%;
}
.timeline > li:nth-child(even) {
  padding-left: 1.3rem;
  margin-top: -5rem;
  left: 50%;
}
.timeline > li:nth-child(even):before {
  content: "\2022";
  font-family: Arial, serif;
  font-size: 2.4rem;
  line-height: .9;
  vertical-align: middle;
  color: #00c8ff;
  position: absolute;
  margin-left: -1.7rem;
  top: .5rem;
}
.timeline > li:nth-child(even) > .arrow {
  position: absolute;
  left: .3em;
  top: .5rem;
  display: inline-block;
  border-top: 1em solid transparent;
  border-left: 0 solid #00c8ff;
  border-right: 1em solid #00c8ff;
  border-bottom: 1em solid transparent;
}
.timeline > li:nth-child(even) button {
  float: right;
}
.timeline section {
  padding: .5em;
  background-color: #00c8ff;
  border-radius: 4px;
}
.timeline h5 {
  font-size: 3rem;
  font-weight: 800;
  color: #414141;
  margin-bottom: 0;
}
.timeline button {
  font-size: 1.4rem;
  color: #414141;
  margin-top: .7rem;
  border: 3px solid #414141;
  border-radius: 50%;
  padding: 0 .3rem;
}
.timeline-subtitle {
  font-size: 1.3rem;
  line-height: 1.4rem;
  opacity: .7;
  margin-bottom: .5rem;
}
@media only screen and (max-width:600px) {
  .timeline > li:nth-child(even),
  .timeline > li:nth-child(odd) {
    width: 100%;
    padding: 0;
  }
  .timeline > li:nth-child(even) > .arrow,
  .timeline > li:nth-child(odd) > .arrow {
    display: none;
  }
  .timeline > li:nth-child(even):before,
  .timeline > li:nth-child(odd):before,
  .timeline > li:nth-child(even):after,
  .timeline > li:nth-child(odd):after {
    display: none;
  }
  .timeline > li:nth-child(even) button,
  .timeline > li:nth-child(odd) button {
    float: right;
  }
  .timeline > li:nth-child(odd) {
    margin-top: auto;
    text-align: left;
  }
  .timeline > li:nth-child(even) {
    left: 0;
    margin-top: auto;
  }
}
.imgMap {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.imgMap img {
  width: 100%;
  display: block;
}
.imgMap .hotspots {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hspot {
  display: block;
  position: absolute;
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.hspot span {
  pointer-events: none;
}
.hspot.circle {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.hspot.label {
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: calc(20px - 2px);
  border: 2px solid #ffffff;
  background: #3399cc;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  display: block;
  pointer-events: auto;
}
.hspot.label.selected {
  background-color: #00bc00;
  box-shadow: 0 0 10px #ffffff;
}
.hspot.label.zpin {
  width: 30px;
  height: 30px;
  line-height: calc(30px - 4px);
}
.dev-mode .hspot:not(.label) {
  background: repeating-linear-gradient(-45deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5) 2px, rgba(255, 255, 255, 0.5) 4px, rgba(255, 255, 255, 0.5) 8px);
}
@media screen and (orientation: portrait) {
  .hspot.label {
    width: 26px;
    height: 26px;
    font-size: 14px;
    line-height: calc(26px - 2px);
  }
}
@media only screen and (min-width:1200px) {
  .hspot.label {
    width: 26px;
    height: 26px;
    font-size: 14px;
    line-height: calc(26px - 2px);
  }
}
@media only screen and (min-width:1900px) {
  .hspot.label {
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: calc(30px - 2px);
  }
}
.modal_bg,
.info-modal_bg {
  z-index: 202;
  position: fixed;
  width: 100vw;
  height: 100vh;
  perspective: 1400px;
  top: 0;
}
.modal_bg {
  background-color: #080808;
  animation: bg-reveal 0.8s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.info-modal {
  background-color: #414141;
  border-bottom: 4px solid #1b8cd4;
  padding: 2rem 3rem;
  animation: slide-down 0.4s;
}
.info-modal_body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}
.info-modal_body [class="vti_bulb"] {
  font-size: 4em;
  line-height: 1;
  color: #1b8cd4;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.info-modal_body p {
  margin-bottom: 1rem;
}
.modal {
  animation: slide .4s;
  border-radius: 5px;
  border: 1px solid #7e7e7e;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background-color: #4b4b4b;
  max-height: 100vh;
  max-width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal h3 {
  font-size: 1.8rem;
  text-transform: none;
  line-height: 1em;
  margin-bottom: 1rem;
}
.modal h4,
.modal h5 {
  margin-bottom: 1em;
}
.modal h4 {
  font-size: 1.4em;
}
.modal_controls {
  position: absolute;
  top: 0;
  height: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 201;
  cursor: default;
  color: #e2e2e2;
  font-weight: 300;
  font-size: 1rem;
  padding-right: .5rem;
  padding-top: .2rem;
}
.modal_controls > button,
.modal_controls a {
  color: #e2e2e2;
  padding: .2rem;
  margin-right: .5em;
}
.modal_controls > a {
  padding: 0;
  margin-top: -0.2rem;
}
.modal_header {
  background-color: #1b8cd4;
  color: #ffffff;
  padding: 0 1rem;
  font-size: 1.2em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.modal_header button {
  color: #ffffff;
  text-shadow: 1px 1px 3px #125f90;
  font-size: 1.5rem;
}
.modal_header button:hover {
  color: #f7f7f7;
}
.modal_header [class="vti_close"] {
  padding-left: 1rem;
  padding-top: .2rem;
}
.modal_header.error {
  background-color: #ff0000;
}
.modal_body {
  padding: 1rem;
  overflow-y: auto;
  line-height: 1em;
}
.modal_body > .text {
  margin-bottom: 1rem;
}
.modal_body video {
  display: block;
}
.modal_body .media img {
  width: 100%;
  display: block;
}
.modal_body .login-field {
  display: -ms-flexbox;
  display: flex;
}
.modal_body .login-field > span,
.modal_body .login-field input {
  width: 50%;
  margin-bottom: .5rem;
}
/* ---------------------------------------------------------------------
 FULL SCREEN
 ----------------------------------------------------------------------*/
.modal_full-screen {
  min-width: 100vw;
  min-height: 100vh;
  border-radius: 0;
}
.modal_full-screen .div-3d,
.modal_full-screen canvas {
  height: 100vh;
  background-color: #3a3a3a;
}
.modal_full-screen--title {
  left: 1rem;
  top: .4rem;
  position: absolute;
}
.modal_full-screen--body {
  top: 2rem;
  position: absolute;
  width: 100vw;
  padding: 1rem;
  height: calc(100vh - 2rem);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* ---------------------------------------------------------------------
 FULL SCREEN PDF
 ----------------------------------------------------------------------*/
.modal_full-screen.pdf {
  overflow: auto;
}
.modal_full-screen.pdf input {
  margin: .1rem .4rem;
  outline: none;
  float: left;
  width: 2rem;
  border: none;
  font-size: .8rem;
  padding: .1rem;
}
.modal_full-screen.pdf .modal_control {
  margin-right: .9em;
}
.modal_full-screen.pdf .pageCounter {
  display: none;
}
/* ---------------------------------------------------------------------
 HELP
 ----------------------------------------------------------------------*/
.help {
  display: table;
  border-collapse: collapse;
}
.help h4 {
  margin: .5em 0;
}
.help .row {
  display: table-row;
}
.help .row > span {
  display: table-cell;
  padding: .4em;
  vertical-align: middle;
  border: 1px solid #a2cfe8;
}
.help .row > span:nth-child(1) {
  text-align: center;
}
.help .row-support {
  display: table-row;
}
.help .row-support > span {
  display: table-cell;
  padding: .1em 0;
  vertical-align: middle;
}
.help .row-support > span:first-child {
  padding-right: 1em;
}
/* ---------------------------------------------------------------------
 ABOUT
 ----------------------------------------------------------------------*/
.about h5 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: .5rem;
  color: #fafafa;
}
.about .logos {
  margin-bottom: 1em;
  text-align: center;
}
.about .logo,
.about img {
  max-height: 50px;
  max-width: 200px;
  margin-right: 10px;
  padding: 5px;
}
/* ---------------------------------------------------------------------
 CHARACTER
 ----------------------------------------------------------------------*/
.character-in {
  display: -ms-flexbox;
  display: flex;
  background-color: #4b4b4b;
}
.modal_character {
  overflow: visible;
}
.modal_character .character {
  left: -10px;
  bottom: -1px;
  margin-right: 10px;
  position: relative;
  max-width: 20vw;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
/* ---------------------------------------------------------------------
 FLIP
 ----------------------------------------------------------------------*/
.modal_flip-back .modal_body,
.modal_flip-front .modal_body {
  max-height: 85vh;
}
.modal_flip-back {
  transform: rotateY(-180deg);
  display: none;
}
/* ---------------------------------------------------------------------
IMAGE/HOTSPOT EXPLORER
 ----------------------------------------------------------------------*/
.media-explorer {
  width: 100vw;
  height: 100vh;
  cursor: move;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.media-explorer > .draggable {
  width: 100vw;
  height: 100vh;
  cursor: move;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.media-explorer > .description {
  top: .4rem;
  position: fixed;
  width: 100%;
  text-align: center;
  color: #f8f8f8;
  opacity: 0;
  z-index: 202;
  font-size: 1rem;
  transition: opacity .5s;
  pointer-events: none;
  font-weight: 300;
}
.media-explorer > .description.selected {
  opacity: 1;
  transition: opacity .5s;
}
.media-holder {
  min-width: 100%;
  max-width: 100%;
}
.media-holder img {
  width: 100%;
  pointer-events: none;
}
.media-holder .hspot.circle.label {
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid #ffffff;
  text-align: center;
  line-height: calc(1.6rem - 2px);
  font-size: 1rem;
}
.media-holder .hspot.circle.label.pin {
  font-size: .8rem;
}
/* ---------------------------------------------------------------------
 MEDIA QUERIES
 ----------------------------------------------------------------------*/
@media screen and (orientation: landscape) {
  .modal {
    max-width: 50vw;
  }
  .modal .modal_body > img {
    float: left;
    position: relative;
    margin-right: 1em;
    max-width: 200px;
  }
  .info-modal_bg {
    height:  calc(100vh - 2rem) ;
  }
}
@media screen and (orientation: portrait) {
  .modal_body {
    padding-bottom: 4rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .modal_body > img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  .info-modal {
    padding: 1rem .5rem;
    animation: slide-down 0.4s;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 100vh;
  }
  .info-modal_body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 4rem;
  }
  .info-modal_body [class=" vti_bulb "] {
    font-size: 4em;
  }
  .info-modal_body p {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 800px) {
  .media-explorer > .description {
    top: 2.5rem;
    font-size: .8rem;
    line-height: .9rem;
    left: 0;
    right: 0;
    padding: .2rem;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background: #0c7abf;
    margin: 0 auto;
    width: 80vw;
    font-weight: 400;
  }
  .modal_full-screen--title,
  .modal_control.page-nums input {
    display: none;
  }
  .modal_full-screen--body {
    padding-bottom: 4rem;
  }
  .modal_controls {
    padding-right: 0;
  }
  .modal_full-screen.pdf > .modal_controls {
    padding-right: 0;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: .1rem;
  }
  .modal_full-screen.pdf .pageCounter {
    display: inline-block;
  }
}
.glossary {
  display: table;
  border-collapse: collapse;
  font-size: .9em;
}
.glossary > .row {
  display: table-row;
  border: 1px solid #a2cfe8;
}
.glossary span {
  display: table-cell;
  padding: 8px;
  vertical-align: middle;
}
.glossary span:nth-child(1) {
  width: 20%;
  font-weight: 400;
  padding-right: 1em;
}
.links a {
  text-decoration: none;
}
.links > div {
  margin: .5em 0;
  border-bottom: 1px dotted #7e7e7e;
  padding: .5em 0;
}
.links > div > span:nth-child(1) {
  margin-right: .5em;
  float: left;
}
/* ============================================================================
ANIMATIONS
==============================================================================*/
@keyframes frames-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bg-reveal {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: #080808;
  }
}
.reveal {
  animation: frames-show 0.3s linear;
  opacity: 1;
}
@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pulsing {
  animation: pulse 1s infinite;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pop-up {
  0% {
    transform: scale3d(0.2, 0.2, 0.2);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
  80% {
    transform: scale3d(0.95, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 0);
  }
}
@keyframes slide {
  0% {
    transform: translate3d(-100vw, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.question h3 {
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: .02em;
  line-height: 1.2em;
  text-transform: none;
  color: #00c8ff;
}
.question .btn-inline-icon {
  margin-right: .5rem;
  font-size: 1.5rem;
}
.question select {
  max-width: 30vw;
}
.subtitle {
  font-style: italic;
  margin: 0;
}
.question_row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.1);
  margin-bottom: 5px;
}
.correct {
  color: #2da027;
}
.incorrect {
  color: #ff0000;
}
.disabled--opaque {
  pointer-events: none;
}
.question_row--multi {
  padding-left: .5em;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 1.2;
}
.question_row--multi > div:nth-child(1) {
  width: 50%;
}
.question_options {
  display: -ms-flexbox;
  display: flex;
}
.question_row--single > label {
  width: 100%;
}
.order-list {
  display: table;
  width: 100%;
}
.order-list_item {
  display: table-row;
  position: relative;
}
.order-list_item:hover {
  background-color: rgba(0, 200, 255, 0.2);
}
.order-list_item > span {
  display: table-cell;
  vertical-align: middle;
  padding: 4px 10px;
  background-color: rgba(250, 250, 250, 0.1);
  border-bottom: 4px solid #414141;
}
.order-list_item > span:nth-child(2) {
  text-align: right;
}
.order-list_item > span button {
  margin: 0;
}
.order-list_item > span:nth-child(1) {
  padding-right: 20px;
}
.btn-correct-answer {
  margin-left: 1em;
  padding: .5em;
}
.btn-correct-answer--on {
  background-color: #00c8ff;
  color: rgba(65, 65, 65, 0.6);
}
@media screen and (orientation: portrait) {
  .question_row--multi > div:nth-child(1) {
    width: 100%;
  }
  .show-answer-btn {
    margin-left: 0;
    display: block;
  }
  .order-list_item > span button:nth-child(1) {
    margin-bottom: 5px;
  }
  .order-list_item > span:nth-child(1) {
    padding-right: 20px;
  }
}
.test-result {
  padding: 10px;
  background-color: rgba(0, 200, 255, 0.2);
  margin-bottom: 1.5em;
}
.test-result > div {
  display: table-row;
}
.test-result > div > span {
  display: table-cell;
}
.test-result > div > span:nth-child(1) {
  font-weight: 700;
  padding-right: 2em;
}
.page-test-result button {
  margin-right: 2px;
}
@media print {
  button {
    display: none;
  }
  header {
    display: none;
  }
  footer {
    display: none;
  }
}
/* =====================================================================================================================
  GLOBAL VARS
======================================================================================================================*/
/* =====================================================================================================================
  MAIN
======================================================================================================================*/
* {
  box-sizing: border-box;
}
body,
html,
#container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}
body {
  color: #fafafa;
}
.page {
  height: calc(100vh - 4rem);
  width: 100vw;
  position: absolute;
  overflow-y: auto;
  color: #fafafa;
  background-color: #414141;
  padding-bottom: .5rem;
  /* GRID */
}
.hgroup {
  margin: 1rem 0 2rem 0;
}
.hgroup [class*="vti_"] {
  font-size: 1.5rem;
  margin-right: .5rem;
  vertical-align: middle;
}
.hgroup .hgroup_icon {
  color: #00c8ff;
}
.hgroup p {
  margin: 1rem 0 0 0;
}
/* =====================================================================================================================
  MEDIA QUERIES
======================================================================================================================*/
@media screen and (orientation: landscape) {
  .hgroup {
    padding: 0 4rem;
  }
  header,
  footer,
  .page-in {
    padding: 0 4rem;
  }
}
@media screen and (orientation: portrait) {
  html {
    font-size: 1.25em;
  }
  header,
  footer,
  .page {
    padding: 0 .5rem;
  }
  .hgroup {
    margin-top: 1em;
    margin-bottom: 0;
  }
  .page {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 4em;
    height: calc(100vh - 2rem);
  }
}
@media only screen and (min-width:1200px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width:1600px) {
  html {
    font-size: 22px;
  }
}
@media only screen and (min-width:1900px) {
  html {
    font-size: 24px;
  }
}
/*

.imageContainer {
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    float: left;
    height: 0;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
 */
