footer {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  bottom: 0;
  position: fixed;
  width: 100vw;
  background-color: @color-HF-block;
  color: @color-HF-element;
  fill: @color-HF-element;
  border-top: 1px solid fade(@color-border-primary, 50%);

  > div{
    //width: 33%;
    background-color: #00bc00;
  }

  .user-name, .dir, .vt-logo {
    transform: scale3d(1, 0, 0);
    transition: transform .2s;
  }

  &:hover {
    transition: height .3s ease;
  }

  &:hover .dir, &:hover .user-name, &:hover .vt-logo {
    transform: scale3d(1, 1, 1);
  }

}

.user-name {
  font-size: .8rem;
}

.vt-logo {

  text-align: right;
  width: 10em;

}

#vt-page-count-display {
  min-width: 8vh;
  text-align: center;
}

.page-nav__dir {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    padding: 0 .5vw;
    &:hover {
      color: @color-HF-rollover;
    }
  }
}

.dir {
  cursor: pointer;
  font-size: 1.3em;
}


@media screen and (max-width: 600px) {

  footer  {
    display: none;
  }

}








