header {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25em;
  background-color: @color-HF-block;
  border-bottom: 1px solid fade(@color-border-primary, 50%);
  color: @color-HF-element;

  button, .btn-toggle {
    color: @color-HF-element;
    transition: .5s color;
    &:hover {
      color: @color-HF-rollover;
    }
  }

}

#btn-menu-main {
  font-size: 1.2em;
  margin-top: .2em;
}

.page-media-controls {
  font-size: .7rem;
  display: flex;
  align-items: center;

  button, label {
    margin-left: .5em;
    color: @color-HF-element;
  }

}

@media screen and (max-width: 800px) {

  header {
    input[type=range] {
      display: none;
    }
  }

}

