.page-in.explorer {


  > .description {
    margin-bottom: 1em;
    //background-color: #1b8cd4;
    display: block;
  }

  .img-holder {
    overflow: hidden;
    background: @color-media-bg;
    padding: 0;

    > img {
      width: 100%;
      position: relative;
      display: block;

    }

    > button {
      position: absolute;
      z-index: 10;
      margin: 5px;
      //text-shadow: 1px 1px 3px rgba(99, 99, 99, 0.51);
      //box-shadow: 1px 1px 3px rgba(99, 99, 99, 0.51);
    }

  }


  .thumb {
    background-color: @color-element;
    margin: 2px;
    padding: 0;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    //border: 1px solid @color-element;
    >img {
      margin: 0;
      padding: 0;
      width: 100%;
      pointer-events: none;
    }
  }

}

.explorer_thumb--clicked {
  filter: grayscale(100%) brightness(.6);
}




@media screen and (orientation: landscape) {
  .page-in.explorer {

    overflow: hidden;
    max-height: 70vh;

    .body {

      display: flex;
      align-items: flex-start;

      > .img-holder, > .table {
        width: 50%;
      }
    }

    .table {
      margin-left: 1em;
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
    }

    .thumb {
      width: 5em;
      height: 5em;
    }

  }
}


@media screen and (orientation: portrait) {

  .page-in.explorer {

    width: 92vw;
    padding-bottom: 40rem;

    .table {
      margin-top: 1em;
      display: flex;
      flex-wrap: wrap;
      //align-content: space-around;
    }

    .thumb {
      width: 4em;
      height: 4em;
    }

  }
}

