.splash {
  color: #f7f7f7;
  //margin-top: 1em;
  overflow: hidden;


  h2{
    margin-bottom: -.2rem;
  }

  h1, h2 {
    width: 90vw;
  }


  .big-num {
    margin-left: -.5rem;
    margin-bottom: 1.2rem;
  }


  > .group {
    position: absolute;
    animation: frames-show 1.5s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);

  }

}


@media screen and (orientation: landscape){

  .splash {

    > .group {
      bottom: @gutter-width;
    }

  }

}

@media screen and (orientation: portrait){

  .splash > .group {

    margin-left: .2rem;
    margin-top: 1.5rem;

    .big-num {
      font-size: 8rem;
    }


  }

}
