@media screen and (orientation: landscape) {

  .page-cols {
    display: flex;
  }

  .page-cols > div {
    width: 50%;
  }

  .page-cols > div:nth-child(1) {
    margin-right: @gutter-half-width;
  }

  .page-cols > div:nth-child(2) {
    margin-left: @gutter-half-width;
  }

  .page-cols > .panel:nth-child(2) {
    //padding-left: .5rem;
  }

  .page-cols {

    img, canvas, video {
      width: 100%;
      display: block;
    }

  }
}

@media screen and (orientation: portrait) {


  .page-cols {

    img, canvas, video {
      width: 100%;
      display: block;
    }

    > div {
      margin-bottom: 2em;
    }


  }
}

