
.full-page {

  .media {
    background: none;
  }


}

@media screen and (orientation: landscape) {

  .full-page {

    .video-holder {
      width: 60vw;
      max-width: 1400px;
      //margin-bottom: 1em;
    }

  }
}


