table, th, td {
  border-collapse: collapse;
  border: 1px solid @color-element;
}

th, td {
  padding: 5px;
}

th {
  font-weight: 400;
}

tr:nth-child(even) {
  background-color: fade(@color-element-highlight, 4%);
}

caption {
  margin-bottom: .5em;
  font-size: 1.3333em;
  color: @color-element-highlight;
}


fieldset {
  border: 1px solid @color-border-secondary;

  > legend {
    color: @color-element-highlight;
  }

}

/*.table-row {
  display: table-row;

  > div, > span {
    display: table-cell;
    width: 100%;
    padding: 2px 4px;
    vertical-align: middle;
  }

  > div:nth-child(1), > span:nth-child(1) {
    padding-right: 1em;
  }


}*/



