
.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: .5;
}

.transparent {
  opacity: 0;
}

.panel {
  background: @color-panel-bg;
  padding: 1rem;
}

.panel-border {
  border: 1px solid @color-panel-border;
  padding: 1rem;
  //border-radius:  16px;
}

.v-divider {
  max-width: 1px;
  border-right: 1px solid fade(@color-border-primary, 50%);
  display: block;
  margin-right: @gutter-half-width;
}

.code {
  color: #00bc00;
}

.no-scroll {
  overflow: hidden;
}

.no-bg {
  background: none;
}

.math-1-line, .math-2-line {

  * {
    fill: currentColor;
  }

  height: 1.5em;
  display: inline-block;
  padding: 2px;
  background-color: @color-math-bg;
  filter: @math-filter;
}

.math-2-line {
  height: 2.5em;
  line-height: 1em;
}

// BG GRID
.bg-grid {

  background: linear-gradient(0deg, rgba(184, 184, 184, 0.7) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, #cccccc 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(0deg, rgba(106, 106, 106, 0.3) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 1px), rgba(0, 0, 0, 0);
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-size: 4em 4em, 4em 4em, 1em 1em, 1em 1em;
}




