p,
h1,
h2,
h3,
h4,
h5,
h6,
small {
  margin: 0;
  padding: 0;
}

ol, ul {
  padding: 0;
  margin: 0 1em;
}

button,
input,
label,
optgroup,
select,
textarea {
  margin: 0;
  font-family: VTFont, sans-serif;
  outline: none;
}

button,
input[type=submit] {
  border: none;
  padding: 0;
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
  line-height: 150%;
  background: none;
  font-size: inherit;
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  border: 0;
  padding: 0;
}

