#vt-main-nav {

  position: absolute;
  top: 0;
  background-color: @color-nav-block;
  box-shadow: 2px 0 25px fade(#000000, 70%);
  z-index: 101;
  font-size: .9em;
  left: -1px;
  height: 100vh;
  width: 30vw;
  overflow: hidden;
  color: @color-nav-element;

}

// MODULES NAV --------------------------------------------------------

// MODULES LIST --------------

.nav-modules__sub-holder {

  padding: 10px;
  position: absolute;
  height: 100vh;
  overflow-y: auto;
  width: 100%;


  .selected {
    color: @color-element-highlight;
    border-right: 4px solid @color-element-highlight;
    [class*="vti_"] {
      //background-color: @color-btn-secondary_bg--rollover;
    }
  }

  .btn-switch {
    margin: 0 .5em;
  }

}

.nav-item {
  border-bottom: 1px solid @color-nav-border;
  cursor: pointer;
  padding: .3em;
  transition: color .3s;
  display: flex;
  align-items: center;

  > span {
    pointer-events: none;
    vertical-align: middle;
    line-height: 1.2em;
  }

  .nav-icon--content,
  .nav-icon--direction,
  .nav-icon--tool {
    line-height: 1em;
    border-radius: 50%;
    padding: .4em;
    margin-right: 1.4em;
    flex-shrink: 0;
    //text-align: center;
    //vertical-align: middle;
    display: inline-block;
  }

  .nav-icon--content,
  .nav-icon--tool {
    background-color: @color-element-highlight;
    color: @color-nav-block;
  }

  .nav-icon--tool {
    background-color: @color-nav-element;
  }

  .nav-icon--content + span {
    color: @color-element-highlight;
  }

  &:hover {
    background-color: fade(@color-nav-element, 10%);
  }


  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + .settings {
    display: block;
  }

  .settings {
    cursor: default;
    background-color: @color-nav-block;
    color: @color-nav-element;
    padding: .5em;
    margin-top: .5em;
    display: none;
    vertical-align: middle;
    width: 100%;

    > div {
      display: flex;
      align-items: center;
      margin-bottom: .5rem;

      > .title {
        width: 30%;
      }

    }

    select {
      font-size: 1rem;
    }

  }

}

.nav-item.nav-settings {
  flex-wrap: wrap;
  &:nth-child(2) {
    width: 100%;
  }


}


.nav-title {
  border-bottom: 1px solid @color-border-primary;
  color: fade(@color-nav-element, 70%);
  font-size: 1.2em;
  pointer-events: none;

}

// @MEDIA (PORTRAIT) ============================================================================
@media screen and (orientation: portrait) {

  #vt-main-nav {
    width: 100vw;

    .nav-modules__sub-holder {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 6em;
    }

  }

}