
@controls-bg: #737373;

.video-controls-bar {

  display: flex;
  align-items: center;
  font-size: .8em;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  margin-top: -1.8em;
  margin-bottom: 4em;
  position: relative;
  //max-height: 2em;


  > .vc-time {
    font-size: .9em;
    padding: 0 .5em;
    color: #c8c8c8;
    //margin-top: .4em;
  }

  > .hidden {
    display: none;
  }


  .select {
    position: absolute;
    margin-left: -5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    max-height: 300px;
    min-width: 100px;
    overflow-y: auto;
  }

  .select_option {
    display: block;
    color: #b8b8b8;
    cursor: pointer;
    font-family: VTFont, sans-serif;

    &:hover {
      color: #ffffff;
    }

    > span {
      padding: 2px;
    }

    input[type=radio] {
      display: none;

      &:checked ~ span {
        color: #ffffff;
      }

    }

  }



  .range-track() {
    height: .8em;
    cursor: pointer;
    background: @controls-bg;
    border: none;
    margin: 0;
    padding: 0;
  }

  .range-thumb() {
    height: .8em;
    width: 12px;
    background: #c8c8c8;
    cursor: pointer;
    border-radius: 0;
    padding: 0;

  }

  input[type=range] {
    -webkit-appearance: none;
    margin: 0 .5em;
    flex-grow: 10;
    align-self: center;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      .range-track();
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      .range-thumb();
    }

    &::-moz-range-track {
      .range-track();
    }

    &::-moz-range-thumb {
      .range-thumb();
    }

    &::-ms-track {
      .range-track();
      background: transparent;
      border-color: transparent;
      color: transparent;
      height: 1px;
    }


    &::-ms-tooltip {
      display: none;
    }

    &::-ms-fill-upper {
      background: @controls-bg;
    }

    &::-ms-thumb {
      .range-thumb();
    }

    &:focus::-ms-fill-lower {
      background: @controls-bg;
    }

    &:focus::-ms-fill-upper {
      background: @controls-bg;
    }

  }

}


.vc {
  padding: 0 5px;
  cursor: pointer;
  margin-right: 2px;
  font-weight: 700;
  background-color: @controls-bg;

  &:hover {
    color: #eeeeee;
  }
}

.video-holder--fs {
  width: auto;
  height: auto;
  background-color: #000000;

  > video {
    width: 100vw;
    height: 100vh;
  }

  .video-controls-bar {
    bottom: 10px;
    position: absolute;
    width: 100%;
    margin: 0;
  }

}

@media screen and (orientation: portrait) {

  .video-controls-bar {

    font-size: 1.2em;
    margin-top: -1.1em;

    .select {
      bottom: 1.8em;
    }

    .vc-time {
      display: none;
    }

  }

}

@media screen and (orientation: landscape) {

  .video-controls-bar .select {
    bottom: 2em;
  }

  .divider--time {
    flex-basis: 1em;
  }
}

