//@fonts-path: "../css/fonts";
@fonts-path: "fonts";

@font-face {
  font-family: "VTFont";
  font-style: normal;
  font-weight: 300;
  //noinspection CssUnknownTarget
  src: url("@{fonts-path}/RobotoCondensed-Light.ttf");
}

@font-face {
  font-family: "VTFont";
  font-style: italic;
  font-weight: 300;
  src: url("@{fonts-path}/RobotoCondensed-LightItalic.ttf");
}

@font-face {
  font-family: "VTFont";
  font-style: normal;
  font-weight: 400;
  src: url("@{fonts-path}/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "VTFont";
  font-style: italic;
  font-weight: 400;
  src: url("@{fonts-path}/RobotoCondensed-Italic.ttf");
}

@font-face {
  font-family: "VTFont";
  font-style: normal;
  font-weight: 700;
  src: url("@{fonts-path}/RobotoCondensed-Bold.ttf");
}

@font-face {
  font-family: "VTFont";
  font-style: normal;
  font-weight: 900;
  src: url("@{fonts-path}/Roboto-Black.ttf");
}


