@charset "utf-8";

html {
  font-family: VTFont, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  font-weight: @font-weight-normal;

}

p {
  margin: -.33333em 0 1.7em 0;
  //background-color: rgba(0, 188, 0, 0.2);
}

.justified {
  text-align: justify;
}

h1, h2, h3, h4, h5 {
  word-break: break-word;
  hyphens: auto;
}

h1 {
  text-transform: uppercase;
  font-size: 3.5em;
  line-height: .8em;
  letter-spacing: -0.02em;
}

h1.big-num {
  font-size: 16em;
  font-weight: 700;
  letter-spacing: -.1em;
  line-height: .6em;
  margin-left: -.03em;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
  letter-spacing: -.05em;
  opacity: .8;
}

h3 {
  font-weight: 300;
  font-size: 2.5em;
  letter-spacing: -.05em;
  line-height: 2.5rem;
  //text-transform: uppercase;
  //background-color: rgba(34, 148, 188, 0.2);
}

h4, h5 {
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.26;
  margin-bottom: .75rem;
  margin-top: -.25em;
  //background-color: rgba(48, 35, 188, 0.2);
}

h5 {
  color: @color-element-highlight;
  margin-bottom: .45rem;
  //background-color: rgba(188, 135, 46, 0.2);
  //min-height: 2rem;
}

small {
  font-size: .875em;
  line-height: 1rem;
  margin-bottom: 1rem;
  display: block;
}

em,
blockquote,
.important,
.warning {
  display: block;
  padding: .28em 1em;
  background: fade(@color-element, 10%);
  font-style: normal;
  margin: 0 0 1em 0;

}

em,
.important {
  border-left: 4px solid @color-element-highlight;
  background-color: fade(@color-element-highlight, 10%);
}

.warning {
  border-left: 4px solid fade(#cc0000, 80%);
  background-color: fade(#cc0000, 10%);
}

blockquote {
  font-style: normal;
  background: fade(@color-element, 10%);
  border-left: 4px solid fade(@color-element, 60%);
  padding: .8em 1em .5em 1em;
  quotes: "\201C""\201D";
  &:before {
    content: "“";
    font-family: Arial, serif;
    font-style: normal;
    font-weight: 700;
    color: fade(@color-element, 30%);
    font-size: 6em;
    line-height: 0;
    //margin: 1em 0 0 .01em;
    //vertical-align: bottom;
    vertical-align: -.43em;
  }
  p {
    margin: 0; //.0em 0 0 0;
    padding: 0;
    font-style: italic;
    font-weight: 700;
    font-size: .9em;
    color: fade(@color-element, 40%);
    text-align: right;
  }

}

code {
  font-family: Courier, "Courier New", monospace;
  color: #00d100;
}

.bold {
  font-weight: 600;
}

.legend, legend {
  background-color: @color-block;
  display: block;
  width: 100%;
  line-height: 1.2em;
  margin: .5em 0;
  font-size: .8em;
  font-style: italic;
  span {
    margin-right: .5rem;
    display: inline-block;
  }
}

.legend--color {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  line-height: .6em;
  vertical-align: middle;
  //padding-left: .2rem;
}

.bullets {

  > p {
    margin: 0 0 1em 1.39em;
    position: relative;
    font-weight: bolder;
    color: @color-element;

    &:before {
      font-family: VTFont, sans-serif;
      content: "·";
      font-size: 3em;
      margin-right: 1em;
      position: absolute;
      line-height: .5;
      left: -.5em;
      color: @color-element-highlight;

    }
  }
}

.cued {
  opacity: .6;
}

p + ul, p + ol {
  margin-top: -1em;
}

li {
  margin-bottom: .2em;
  //background-color: rgba(0, 188, 0, 0.2);
}

ol {
  margin: 0 0 1.5em 1em;
}

ul {
  list-style: none;
  padding: 0 .5em;
  margin: 0 0 1.5em 0;

  li {
    padding-left: .6em;
    position: relative;
  }

  li:before {
    content: "\2022";
    font-family: Arial, serif;
    font-size: 2em;
    line-height: .7;
    vertical-align: middle;
    color: @color-element-highlight;
    padding-right: .5em;
    position: absolute;
    margin-left: -.6em;
  }
}

.hgroup > h3 {
  margin-top: 1rem;
}

// For inline icons.
.inline {
  line-height: .8em;
  font-size: .7em;
  background: fade(@color-element, 20%);
  padding: .4em .3em;
  display: inline;
}

@media screen and (orientation: portrait) {

  h2, h3, h4, h5 {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.7rem;
  }

  h4 {
    font-size: 1.2em;
    font-weight: 300;
  }

  .justified {
    text-align: inherit;
  }

}

