/* ================================================================
FONTS
================================================================ */
@font-face {
    font-family: "VTFont";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/RobotoCondensed-Light.ttf");
}

@font-face {
    font-family: "VTFont";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "VTFont";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/RobotoCondensed-Bold.ttf");
}

/* ================================================================
NAV
================================================================ */
.nav-title {
    font-size: .8em;
    color: #8a99b7;
    display: inline-block;
}

nav {
    height: 40px;
    padding: 5px;
    background-color: #e9e9e9;
    user-select: none;
    -webkit-user-select: none;
}

.nav-secondary {
    background-color: #e9e9e9;
    padding: 4px;
}

.btn, button {
    padding: 5px 10px;
    background-color: #afc2da;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    border: none;
}

.action {
    background-color: #a1d2c6;
}

button:hover, .btn:hover {
    background-color: #91a5bd;
    color: #ffffff;
}

.btn-toggle {
    margin: 0 10px;
    cursor: pointer;
}

.btn-toggle input {
    display: none;
}

.btn-toggle input:checked ~ span {
    border-bottom: 2px solid #1ba1ea;
}

nav input[type="file"], .panel input[type="file"] {
    display: none;
}

.nav-group {
    border: 1px solid #cccccc;
    padding: 5px;
}

/* ================================================================
MAIN
================================================================ */
* {
    box-sizing: border-box;
}

body {
    font-family: "VTFont", sans-serif;
    color: #454545;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

main {
    display: block;
    padding: 5px;
}



h4 {
    margin: 0 0 .5em 0;
}

footer {
    height: 90px;
    border-top: 1px solid #c8c8c8;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100vw;
    padding: 5px 10px;
    overflow: hidden;
}

footer > div {
    padding: 10px 0;
    overflow: auto;
    height: 80px;
}

.error {
    color: red;
}

.ok {
    color: #2da027;
}

.info {
    color: #0000f6;
}

.warning, .important {
    color: #eea72a;
}

code {
    color: #0c7abf;
    background-color: rgba(12, 122, 191, 0.16);
    padding: 4px;
}

.important {
    font-weight: 700;
    font-size: 1.4em;
}

.hidden {
    display: none;
}

.disabled {
    opacity: .6;
    pointer-events: none;
}

.spacer {
    display: inline-block;
    width: 10px;
}

.panel {
    padding: 10px;
    background: #efefef;
    margin-bottom: 5px;
}

.panel .btn {
    min-width: 200px;
    text-align: center;
}

.opt-nav label {
    margin-right: 1em;
}


/* ================================================================
CSS-View
================================================================ */

#css > .content-inner {
    height: calc(100vh - 180px);
    overflow: auto;
    margin-top: 5px;
}

#css > .content-inner > div {
    display: table;
    border-collapse: collapse;
    float: left;
    margin-right: 20px;
}

.css-inp {
    width: 200px;
}

.css-field {
    display: table-row;
    border-collapse: collapse;
}

.css-field > span {
    display: table-cell;
    padding: 10px 5px;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    vertical-align: middle;
}


.css-dark {
    background: #cecece;
}

.css-color-picker {
    float: right;
    display: inline-block;
}


/* ================================================================
ICONS
================================================================ */

#icons {
    height: calc(100vh - 150px);
    overflow: auto;
    margin-top: 2px;
}

#icons span[class*="vti_"] {
    font-size: 2em;
    margin-right: 20px;
}

#icons > div {
    padding: 8px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e3eef5;
}


/* ================================================================
HOTSPOTS
================================================================ */

.hotspots-imgHolder {
    margin-top: 5px;
    height: 70vh;
    overflow: auto;
}

.imageMap {
    width: 100%;
    position: relative;
    margin: 0;
    user-select: none;
}

.imageMap > img {
    display: block;
    width: 100%;
}

.imageMap .hotspots {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
}

.imageMap .hspot {
    display: block;
    position: absolute;
    z-index: 100;
    user-select: none;
    background: repeating-linear-gradient(
            -45deg,
            rgba(255, 0, 0, 0.5),
            rgba(255, 0, 0, 0.5) 2px,
            rgba(255, 255, 255, 0.5) 4px,
            rgba(255, 255, 255, 0.5) 8px
    );
}

.imageMap .hspot span {
    pointer-events: none;
}

.imageMap .hspot.circle {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.imageMap .hspot .el-id {
    background: #ffffff;
    padding: 2px;
}
.imageMap .hspot.label .el-id {
    background: none;
    padding: 0;
}


.imageMap .hspot.circle.label {
    width: 2em;
    height: 2em;
    border: 2px solid #ffffff;
    text-align: center;
    line-height: calc(2em - 1px);
    color: #ffffff;
    background: #3399cc;
    cursor: pointer;
    display: block;
    padding: 0;
}

.hotspots-controls {
    display: flex;
    align-items: center;
    height: 2rem;
}
.hotspots-controls > button {
    margin-right: 5px;
}

#hotspots-type-selector label {
    margin: 0 8px;
}

#hotspots-type-selector > span {
    margin: 0 8px;
    padding: 5px;
    background-color: #e1edf2;
}
#hotspots-type-selector > span:nth-child(2) {
    background-color: #c9f2e3;
}

#hotspots-type-selector #hotspots-id {
    width: 4em;
    outline: none;
}

#hotspots-type-selector #hotspots-label {
    width: 40em;
    outline: none;
}

#hotspots-output {
    width: 70em;
    outline: none;
}

#hotspots-color {
    width: 2em;
    height: 2em;
}


.imageMap .hspot {
    display: flex;
    justify-content: flex-end;
}

.imageMap .hspot > .resizer {
    width: 10px;
    height: 10px;
    background: #000000;
    align-self: flex-end;
    visibility: collapse;
    border: 1px solid #cccccc;
}

.imageMap .hspot > .el-id {
    align-self: center;

}


.imageMap .hspot.selected, .imageMap .hspot.label.selected {
    border: 2px solid red;
}

.imageMap .hspot.selected > .resizer {
    visibility: visible;
}









/* ================================================================
MODAL
================================================================ */

#modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.popup {
    width: 50vw;
    height: 50vh;
    background: white;
    padding: 10px;
}

.popup h3 {
    font-size: 1.1em;
    color: #2da027;
    font-weight: bolder;
}


.close {
    margin-bottom: 1em;
}

#btnClose {
    float: right;
}











